<table class="table {{modifier_class}}">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Created</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td data-title="Name">John</td>
            <td data-title="Role">Developer</td>
            <td data-title="Created">07 Jul 2013</td>
            <td data-title="Status">Active</td>
        </tr>
        <tr>
            <td data-title="Name">Jamie</td>
            <td data-title="Role">Sales</td>
            <td data-title="Created">07 Jul 2013</td>
            <td data-title="Status">Pending</td>
        </tr>
        <tr>
            <td data-title="Name">Jill</td>
            <td data-title="Role">Marketing</td>
            <td data-title="Created">07 Jul 2013</td>
            <td data-title="Status">Active</td>
        </tr>
    </tbody>
    {{!-- <tfoot>
        <tr>
            <th colspan="4">
                <div class="button button--primary"><i class="icon--user"></i> Add User</div>
            </th>
        </tr>
    </tfoot> --}}
</table>
