<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>User Name</th>
                <th>Rate Description</th>
                <th>Hourly Rate</th>
                <th>Set Alerts</th>
                <th class="cell--icon">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form__field">
                        <label class="field__before" for="field11">#</label>
                        <input type="text" placeholder="tags" />
                    </div>
                </td>
                <td>
                    <div class="form__field">
                        <input type="text" />
                    </div>
                </td>
                <td>
                    <div class="form__field">
                        <label class="field__before" for="field12">$</label>
                        <input type="text" placeholder="0.00" id="field12" />
                    </div>
                </td>
                <td>
                    <div class="form__field">
                        <label class="field__before" for="field123">&#64;</label>
                        <input type="text" placeholder="username" id="field123" />
                    </div>
                </td>
                <td class="cell--icon"><a href="#" title="Delete"><i class="icon--cross"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
