<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Job</th>
                <th>Ref</th>
                <th>Status</th>
                <th>Published</th>
                <th><i class="icon--star" title="Favourites"></i></th>
                <th><i class="icon--cross" title="Declined"></i></th>
                <th><i class="icon--check" title="Accepted"></i></th>
                <th><i class="icon--user" title="Submissions"></i></th>
                <th><i class="icon--bell" title="Notifications"></i></th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>G-STAR Store Management Opportunities - Sydney CBD , Sydney NSW 2000</td>
                <td data-title="Ref">GS123</td>
                <td data-title="Status"><span class="label label--negative">Closed</span></td>
                <td data-title="Published">11 Jul 2011</td>
                <td data-title="Favourite">4</td>
                <td data-title="Declined">15</td>
                <td data-title="Accepted">5</td>
                <td data-title="Submissions">-</td>
                <td data-title="Notifications">-</td>
                <td data-title="Total"><a href="#">24</a></td>
            </tr>
        </tbody>
    </table>
</div>
