<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Created</th>
                <th class="cell--icon">&nbsp;</th>
                <th class="cell--icon">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="icon--user"></i> John</td>
                <td>Developer</td>
                <td>07 Jul 2013</td>
                <td class="cell--icon"><a href="#" title="Edit"><i class="icon--pencil"></i></a></td>
                <td class="cell--icon"><a href="#" title="Delete"><i class="icon--cross"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
