<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th class="row--xsmall"><input type="checkbox" /></th>
                <th>Name</th>
                <th>Role</th>
                <th>Created</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" /></td>
                <td data-title="Name">Joe Black</td>
                <td data-title="Role">Ops Manager</td>
                <td data-title="Created">
                    <div class="field">
                        <input type="text" />
                    </div>
                </td>
                <td data-title="Date">
                    <select>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>March</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
