<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Started</th>
                <th>Exited</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="Name">John Wrigley</td>
                <td data-title="Role"><span class="label label--positive">Developer</span></td>
                <td data-title="Started">07 Jul 2013</td>
                <td data-title="Exited">09 Jul 2013</td>
                <td data-title="Status"><span class="label label--negative">Suspended</span></td>
            </tr>
        </tbody>
    </table>
</div>
