<table class="table-large">
    <tbody class="is--open">
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
        <tr class="expandable">
            <td colspan="4">
                
                <div class="table-list__expandable">

                    <div class="table-list__row">
                        <div class="row__cell">
                            <i class="icon--document"></i>
                            <p>Ambience and Vibe</p>
                        </div>
                        <div class="row__cell">
                            <progress-bar value="90" type="positive" label="110/142 complete"></progress-bar>
                        </div>
                        <div class="row__cell lt-tablet-hide">
                            Edited <strong>12/04/14</strong>
                        </div>
                        <div class="row__cell lt-tablet-hide">
                            <a href="#" tooltip="Edit"><i class="icon--edit"></i></a>
                            <a href="#" tooltip="Stats"><i class="icon--stats"></i></a>
                        </div>
                    </div>

                    <div class="table-list__row">
                        <div class="row__cell">
                            <i class="icon--document"></i>
                            <p>Subject name 102</p>
                        </div>
                        <div class="row__cell">
                            <progress-bar value="65" type="caution" label="80/142 complete"></progress-bar>
                        </div>
                        <div class="row__cell lt-tablet-hide">
                            Edited <strong>12/04/14</strong>
                        </div>
                        <div class="row__cell lt-tablet-hide">
                            <a href="#" tooltip="Edit"><i class="icon--edit"></i></a>
                            <a href="#" tooltip="Stats"><i class="icon--stats"></i></a>
                        </div>
                    </div>

                    <div class="table-list__row">
                        <div class="row__cell">
                            <i class="icon--document"></i>
                            <p>Subject name 103</p>
                        </div>
                        <div class="row__cell">
                            <progress-bar value="60" type="caution" label="70/142 complete"></progress-bar>
                        </div>
                        <div class="row__cell lt-tablet-hide">
                            Edited <strong>12/04/14</strong>
                        </div>
                        <div class="row__cell lt-tablet-hide">
                            <a href="#" tooltip="Edit"><i class="icon--edit"></i></a>
                            <a href="#" tooltip="Stats"><i class="icon--stats"></i></a>
                        </div>
                    </div>

                    <div class="table-list__row">
                        <div class="row__cell">
                            <i class="icon--document"></i>
                            <p>Subject name 104</p>
                        </div>
                        <div class="row__cell">
                            <progress-bar value="30" type="negative" label="40/142 complete"></progress-bar>
                        </div>
                        <div class="row__cell lt-tablet-hide">
                            Edited <strong>12/04/14</strong>
                        </div>
                        <div class="row__cell lt-tablet-hide">
                            <a href="#" tooltip="Edit"><i class="icon--edit"></i></a>
                            <a href="#" tooltip="Stats"><i class="icon--stats"></i></a>
                        </div>
                    </div>

                    <div class="">
                        <div class="row__cell">
                            <a href="create-course-step-2.aspx" class="row__link"><i class="icon--plus"></i>Add a subject</a>
                        </div>
                    </div>

                </div>

            </td>
        </tr>
    </tbody>
    </tbody>
    <tbody>
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
    </tbody>
</table>
