<table class="table-large">
    <thead>
        <tr>
            <th>Title</th>
            <th>Completion</th>
            <th>Users</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
    </tbody>
</table>
