<table class="table-large">
    <tbody class="is--open">
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
        <tr class="expandable">
            <td colspan="4">
                
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Role</th>
                                <th>Created</th>
                                <th>Edited</th>
                                <th class="cell--icon">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Developer</td>
                                <td>07 Jul 2013</td>
                                <td>08 Jul 2013</td>
                                <td class="cell--icon"><a href="#" tooltip="Favourite" tooltip-placement="left"><i class="icon--star"></i></a></td>
                            </tr>
                            <tr>
                                <td>Designer</td>
                                <td>07 Jul 2013</td>
                                <td>10 Jul 2013</td>
                                <td class="cell--icon"><a href="#" tooltip="Favourite" tooltip-placement="left"><i class="icon--star"></i></a></td>
                            </tr>
                            <tr>
                                <td>Developer</td>
                                <td>07 Jul 2013</td>
                                <td>08 Jul 2013</td>
                                <td class="cell--icon"><a href="#" tooltip="Favourite" tooltip-placement="left"><i class="icon--star"></i></a></td>
                            </tr>
                            <tr>
                                <td>Designer</td>
                                <td>07 Jul 2013</td>
                                <td>10 Jul 2013</td>
                                <td class="cell--icon"><a href="#" tooltip="Favourite" tooltip-placement="left"><i class="icon--star"></i></a></td>
                            </tr>
                            <tr>
                                <td>Developer</td>
                                <td>07 Jul 2013</td>
                                <td>08 Jul 2013</td>
                                <td class="cell--icon"><a href="#" tooltip="Favourite" tooltip-placement="left"><i class="icon--star"></i></a></td>
                            </tr>
                            <tr>
                                <td>Designer</td>
                                <td>07 Jul 2013</td>
                                <td>10 Jul 2013</td>
                                <td class="cell--icon"><a href="#" tooltip="Favourite" tooltip-placement="left"><i class="icon--star"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </td>
        </tr>
    </tbody>
    </tbody>
    <tbody>
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td><i class="icon--folder"></i>Some sort of title</td>
            <td><a href="#" class="link"><i class="icon--stats"></i> 10% <span class="lt-tablet-hide">completed</span></a></td>
            <td><i class="icon--users"></i>142 <span class="lt-tablet-hide">staff</span></td>
            <td>
                <a href="create-course.aspx" tooltip="Edit course"><i class="icon--edit"></i></a>
            </td>
        </tr>
    </tbody>
</table>
