<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Candidate</th>
                <th>Status</th>
                <th>Type</th>
                <th>Created</th>
                <th>Effective</th>
                <th>Elapsed</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td data-title="Candidate">Allan Elliot</td>
                <td data-title="Status">
                    <div class="progress-bar is--positive">
                        <div class="progress-bar__range" style="width: 70%"></div>
                    </div>
                    <span class="progress-bar-label">Probation</span>
                </td>
                <td data-title="Type">New Employee</td>
                <td data-title="Created">11 Oct 2013</td>
                <td data-title="Effective">-</td>
                <td data-title="Elapsed">7</td>
            </tr>
            <tr>
                <td data-title="Candidate">John Smith</td>
                <td data-title="Status">
                    <div class="progress-bar is--caution">
                        <div class="progress-bar__range" style="width: 20%"></div>
                    </div>
                    <span class="progress-bar-label">Documentation</span>
                </td>
                <td data-title="Type">New Employee</td>
                <td data-title="Created">15 Oct 2013</td>
                <td data-title="Effective">-</td>
                <td data-title="Elapsed" class="is--error">12</td>
            </tr>
        </tbody>
    </table>
</div>
