<fieldset class="form segment">

    <div class="form__field is--required">
        <label class="form__label" for="exampleInputEmail1">Email address</label>
        <input type="email" id="exampleInputEmail1" placeholder="Enter email">
        <p><small>* I'm telling you something about email addresses</small></p>
    </div>
    <div class="form__field">
        <label class="form__label" for="exampleInputPassword1">Description</label>
        <textarea></textarea>
    </div>
    <div class="form__field">
        <label class="form__label" for="exampleInputAutogrow">AutoGrow</label>
        <textarea id="exampleInputAutogrow" autogrow ng-model="autogrow"></textarea>
    </div>
    <div class="form__field">
        <div class="field__checkbox">
            <input type="checkbox" id="checkbox_01"> 
            <label for="checkbox_01" class="form__label">Remember my details</label>
        </div>
    </div>

    <button type="submit" class="button button--positive">Submit</button>

</fieldset>
