<div class="form">

    <div class="segment">

        <fieldset>

            <legend>Personal details</legend>

            <div class="form__field">
                <label class="form__label" for="exampleInputEmail1">Email address</label>
                <input type="email" id="exampleInputEmail1" placeholder="Enter email">
            </div>

            <div class="form__field form__field--boxBottom">
                <div class="field__checkbox">
                    <input type="checkbox" id="checkbox_02">
                    <label for="checkbox_02" class="form__label">I accept these terms and conditions</label>
                </div>
            </div>

        </fieldset>

    </div>

    <div class="align-center">
        <button type="submit" class="button button--positive">Submit</button>
    </div>

</div>
