<fieldset class="form">
    <div class="form__fields">

        <div class="form__field form__field--inline">
            <div class="field__checkbox">
                <input id="fieldInline" type="checkbox"> 
                <label for="fieldInline" class="form__label">Checkbox</label>
            </div>
            <a href="#" class="button">Button</a>
        </div>

    </div>
</fieldset>
