<fieldset class="form form--aligned segment">

    <div class="form__field">
        <label class="form__label" for="aligned-name">Username</label>
        <input id="aligned-name" type="text">
    </div>

    <div class="form__field">
        <label class="form__label" for="aligned-password">Textarea</label>
        <textarea></textarea>
    </div>

    <div class="form__field">
        <label class="form__label" for="aligned-email">Email Address</label>
        <input id="aligned-email" type="email">
    </div>

    <div class="form__field">
        <label class="form__label" for="aligned-foo">Really long Label</label>
        <input id="aligned-foo" type="text" placeholder="Enter something here...">
    </div>

    <div class="field field--aligned">
        <button type="submit" class="button button--positive">Submit</button>
    </div>

</fieldset>
