<h4>3x3 Group</h4>

<fieldset class="form">
    <div class="form__fields">

        <div class="form__field col-1-3">
            <label class="form__label" for="exampleInputFull1">Input 1</label>
            <input type="email" id="exampleInputEmail1">
        </div><!--
        --><div class="form__field col-1-3">
            <label class="form__label" for="exampleInputFull2">Input 2</label>
            <input type="email" id="exampleInputEmail1">
        </div><!--
        --><div class="form__field col-1-3">
            <label class="form__label" for="exampleInputFull3">Input 3</label>
            <input type="email" id="exampleInputEmail1">
        </div>

    </div>
</fieldset>

<h4>2x2 Group</h4>

<fieldset class="form">
    <div class="form__fields">

        <div class="form__field col-1-2">
            <label class="form__label" for="exampleInputFull1">Input 1</label>
            <input type="email" id="exampleInputEmail1">
        </div><!--
        --><div class="form__field col-1-2">
            <label class="form__label" for="exampleInputFull2">Input 2</label>
            <input type="email" id="exampleInputEmail1">
        </div>

    </div>
</fieldset>
