<p>Icons are <i class="icon--list-block"></i> inline-block elements that can be used in almost any situation <i class="icon--heart"></i>. They adjust to the corresponding text size <i class="icon--text"></i> and will adopt its <span class="is--positive"><i class="icon--star"></i> color scheme</span></p>

<div class="grid">
    <div class="col-1-4"><p><i class="icon--align-justify"></i> align-justify</p></div>
    <div class="col-1-4"><p><i class="icon--align-left"></i> align-left</p></div>
    <div class="col-1-4"><p><i class="icon--align-right"></i> align-right</p></div>
    <div class="col-1-4"><p><i class="icon--article"></i> article</p></div>
    <div class="col-1-4"><p><i class="icon--attachment"></i> attachment</p></div>
    <div class="col-1-4"><p><i class="icon--bin"></i> bin</p></div>
    <div class="col-1-4"><p><i class="icon--birthday"></i> birthday</p></div>
    <div class="col-1-4"><p><i class="icon--calendar"></i> calendar</p></div>
    <div class="col-1-4"><p><i class="icon--camera"></i> camera</p></div>
    <div class="col-1-4"><p><i class="icon--change-title"></i> change-title</p></div>
    <div class="col-1-4"><p><i class="icon--clipboard"></i> clipboard</p></div>
    <div class="col-1-4"><p><i class="icon--clock"></i> clock</p></div>
    <div class="col-1-4"><p><i class="icon--clockwise"></i> clockwise</p></div>
    <div class="col-1-4"><p><i class="icon--comment-2"></i> comment-2</p></div>
    <div class="col-1-4"><p><i class="icon--comment"></i> comment</p></div>
    <div class="col-1-4"><p><i class="icon--copy"></i> copy</p></div>
    <div class="col-1-4"><p><i class="icon--document-arrow"></i> document-arrow</p></div>
    <div class="col-1-4"><p><i class="icon--document-clean"></i> document-clean</p></div>
    <div class="col-1-4"><p><i class="icon--document"></i> document</p></div>
    <div class="col-1-4"><p><i class="icon--download"></i> download</p></div>
    <div class="col-1-4"><p><i class="icon--edit"></i> edit</p></div>
    <div class="col-1-4"><p><i class="icon--ellipsis"></i> ellipsis</p></div>
    <div class="col-1-4"><p><i class="icon--error"></i> error</p></div>
    <div class="col-1-4"><p><i class="icon--facebook"></i> facebook</p></div>
    <div class="col-1-4"><p><i class="icon--folder-detailed"></i> folder-detailed</p></div>
    <div class="col-1-4"><p><i class="icon--folder"></i> folder</p></div>
    <div class="col-1-4"><p><i class="icon--heart"></i> heart</p></div>
    <div class="col-1-4"><p><i class="icon--help"></i> help</p></div>
    <div class="col-1-4"><p><i class="icon--inbox"></i> inbox</p></div>
    <div class="col-1-4"><p><i class="icon--key"></i> key</p></div>
    <div class="col-1-4"><p><i class="icon--like"></i> like</p></div>
    <div class="col-1-4"><p><i class="icon--link-2"></i> link-2</p></div>
    <div class="col-1-4"><p><i class="icon--link"></i> link</p></div>
    <div class="col-1-4"><p><i class="icon--linkedin"></i> linkedin</p></div>
    <div class="col-1-4"><p><i class="icon--links"></i> links</p></div>
    <div class="col-1-4"><p><i class="icon--list-ol"></i> list-ol</p></div>
    <div class="col-1-4"><p><i class="icon--list-ul"></i> list-ul</p></div>
    <div class="col-1-4"><p><i class="icon--list"></i> list</p></div>
    <div class="col-1-4"><p><i class="icon--lock"></i> lock</p></div>
    <div class="col-1-4"><p><i class="icon--logout"></i> logout</p></div>
    <div class="col-1-4"><p><i class="icon--mail"></i> mail</p></div>
    <div class="col-1-4"><p><i class="icon--maximise"></i> maximise</p></div>
    <div class="col-1-4"><p><i class="icon--maximize"></i> maximize</p></div>
    <div class="col-1-4"><p><i class="icon--minimise"></i> minimise</p></div>
    <div class="col-1-4"><p><i class="icon--newsfeed"></i> newsfeed</p></div>
    <div class="col-1-4"><p><i class="icon--notebook"></i> notebook</p></div>
    <div class="col-1-4"><p><i class="icon--pencil"></i> pencil</p></div>
    <div class="col-1-4"><p><i class="icon--person-group"></i> person-group</p></div>
    <div class="col-1-4"><p><i class="icon--person-single"></i> person-single</p></div>
    <div class="col-1-4"><p><i class="icon--phone"></i> phone</p></div>
    <div class="col-1-4"><p><i class="icon--picture"></i> picture</p></div>
    <div class="col-1-4"><p><i class="icon--pin"></i> pin</p></div>
    <div class="col-1-4"><p><i class="icon--print"></i> print</p></div>
    <div class="col-1-4"><p><i class="icon--quote"></i> quote</p></div>
    <div class="col-1-4"><p><i class="icon--round-info"></i> round-info</p></div>
    <div class="col-1-4"><p><i class="icon--search"></i> search</p></div>
    <div class="col-1-4"><p><i class="icon--share"></i> share</p></div>
    <div class="col-1-4"><p><i class="icon--slider"></i> slider</p></div>
    <div class="col-1-4"><p><i class="icon--spanner"></i> spanner</p></div>
    <div class="col-1-4"><p><i class="icon--star"></i> star</p></div>
    <div class="col-1-4"><p><i class="icon--stats"></i> stats</p></div>
    <div class="col-1-4"><p><i class="icon--success"></i> success</p></div>
    <div class="col-1-4"><p><i class="icon--tag"></i> tag</p></div>
    <div class="col-1-4"><p><i class="icon--twitter"></i> twitter</p></div>
    <div class="col-1-4"><p><i class="icon--user"></i> user</p></div>
    <div class="col-1-4"><p><i class="icon--vcard"></i> vcard</p></div>
    <div class="col-1-4"><p><i class="icon--video"></i> video</p></div>
    <div class="col-1-4"><p><i class="icon--views"></i> views</p></div>
    <div class="col-1-4"><p><i class="icon--warning"></i> warning</p></div>
    <div class="col-1-4"><p><i class="icon--wifi"></i> wifi</p></div>
    <div class="col-1-4"><p><i class="icon--arrow-down"></i> arrow-down</p></div>
    <div class="col-1-4"><p><i class="icon--arrow-left"></i> arrow-left</p></div>
    <div class="col-1-4"><p><i class="icon--arrow-right"></i> arrow-right</p></div>
    <div class="col-1-4"><p><i class="icon--arrow-up"></i> arrow-up</p></div>
    <div class="col-1-4"><p><i class="icon--block-check"></i> block-check</p></div>
    <div class="col-1-4"><p><i class="icon--block-cross"></i> block-cross</p></div>
    <div class="col-1-4"><p><i class="icon--block-minus"></i> block-minus</p></div>
    <div class="col-1-4"><p><i class="icon--block-plus"></i> block-plus</p></div>
    <div class="col-1-4"><p><i class="icon--check"></i> check</p></div>
    <div class="col-1-4"><p><i class="icon--cross"></i> cross</p></div>
    <div class="col-1-4"><p><i class="icon--down"></i> down</p></div>
    <div class="col-1-4"><p><i class="icon--left"></i> left</p></div>
    <div class="col-1-4"><p><i class="icon--minus"></i> minus</p></div>
    <div class="col-1-4"><p><i class="icon--plus"></i> plus</p></div>
    <div class="col-1-4"><p><i class="icon--right"></i> right</p></div>
    <div class="col-1-4"><p><i class="icon--round-arrow-left"></i> round-arrow-left</p></div>
    <div class="col-1-4"><p><i class="icon--round-arrow-right"></i> round-arrow-right</p></div>
    <div class="col-1-4"><p><i class="icon--round-check"></i> round-check</p></div>
    <div class="col-1-4"><p><i class="icon--round-cross"></i> round-cross</p></div>
    <div class="col-1-4"><p><i class="icon--round-minus"></i> round-minus</p></div>
    <div class="col-1-4"><p><i class="icon--round-plus"></i> round-plus</p></div>
    <div class="col-1-4"><p><i class="icon--up"></i> up</p></div>
    <div class="col-1-4"><p><i class="icon--grid-view"></i> grid-view</p></div>
    <div class="col-1-4"><p><i class="icon--new-folder"></i> new-folder</p></div>
    <div class="col-1-4"><p><i class="icon--upload"></i> upload</p></div>
    <div class="col-1-4"><p><i class="icon--job"></i> job</p></div>
    <div class="col-1-4"><p><i class="icon--library"></i> library</p></div>
    <div class="col-1-4"><p><i class="icon--request"></i> request</p></div>
    <div class="col-1-4"><p><i class="icon--neutral"></i> neutral</p></div>
    <div class="col-1-4"><p><i class="icon--notes"></i> notes</p></div>
    <div class="col-1-4"><p><i class="icon--pencil1"></i> pencil1</p></div>
    <div class="col-1-4"><p><i class="icon--profile-about"></i> profile-about</p></div>
    <div class="col-1-4"><p><i class="icon--profile-camera"></i> profile-camera</p></div>
    <div class="col-1-4"><p><i class="icon--profile-document"></i> profile-document</p></div>
    <div class="col-1-4"><p><i class="icon--profile-history"></i> profile-history</p></div>
    <div class="col-1-4"><p><i class="icon--profile-info"></i> profile-info</p></div>
    <div class="col-1-4"><p><i class="icon--profile-note"></i> profile-note</p></div>
    <div class="col-1-4"><p><i class="icon--profile-setting"></i> profile-setting</p></div>
    <div class="col-1-4"><p><i class="icon--profile-wall"></i> profile-wall</p></div>
    <div class="col-1-4"><p><i class="icon--profile-workflow"></i> profile-workflow</p></div>
    <div class="col-1-4"><p><i class="icon--sad"></i> sad</p></div>
    <div class="col-1-4"><p><i class="icon--smiling"></i> smiling</p></div>
    <div class="col-1-4"><p><i class="icon--cd-add_filter"></i> cd-add_filter</p></div>
    <div class="col-1-4"><p><i class="icon--cd-add_tag"></i> cd-add_tag</p></div>
    <div class="col-1-4"><p><i class="icon--cd-open_all"></i> cd-open_all</p></div>
    <div class="col-1-4"><p><i class="icon--cd-progress_green"></i> cd-progress_green</p></div>
    <div class="col-1-4"><p><i class="icon--cd-progress_red"></i> cd-progress_red</p></div>
    <div class="col-1-4"><p><i class="icon--cd-progress_yellow"></i> cd-progress_yellow</p></div>
    <div class="col-1-4"><p><i class="icon--cd-remove_tag"></i> cd-remove_tag</p></div>
    <div class="col-1-4"><p><i class="icon--cd-share"></i> cd-share</p></div>
    <div class="col-1-4"><p><i class="icon--cd-star_full"></i> cd-star_full</p></div>
    <div class="col-1-4"><p><i class="icon--cd-warning"></i> cd-warning</p></div>
    <div class="col-1-4"><p><i class="icon--gear"></i> gear</p></div>
    <div class="col-1-4"><p><i class="icon--stop"></i> stop</p></div>
    <div class="col-1-4"><p><i class="icon--add-question"></i> add-question</p></div>
    <div class="col-1-4"><p><i class="icon--any-type"></i> any-type</p></div>
    <div class="col-1-4"><p><i class="icon--date"></i> date</p></div>
    <div class="col-1-4"><p><i class="icon--import-template"></i> import-template</p></div>
    <div class="col-1-4"><p><i class="icon--multi-choice"></i> multi-choice</p></div>
    <div class="col-1-4"><p><i class="icon--recruit"></i> recruit</p></div>
    <div class="col-1-4"><p><i class="icon--single-choice"></i> single-choice</p></div>
    <div class="col-1-4"><p><i class="icon--text"></i> text</p></div>
    <div class="col-1-4"><p><i class="icon--yes-no"></i> yes-no</p></div>
    <div class="col-1-4"><p><i class="icon--mnuDashboard"></i> mnuDashboard</p></div>
    <div class="col-1-4"><p><i class="icon--mnuDocuments"></i> mnuDocuments</p></div>
    <div class="col-1-4"><p><i class="icon--mnuInternalJobs"></i> mnuInternalJobs</p></div>
    <div class="col-1-4"><p><i class="icon--mnuPerformance"></i> mnuPerformance</p></div>
    <div class="col-1-4"><p><i class="icon--mnuRecruitment"></i> mnuRecruitment</p></div>
    <div class="col-1-4"><p><i class="icon--mnuRequests"></i> mnuRequests</p></div>
    <div class="col-1-4"><p><i class="icon--mnuRosters"></i> mnuRosters</p></div>
    <div class="col-1-4"><p><i class="icon--mnuSurvey"></i> mnuSurvey</p></div>
    <div class="col-1-4"><p><i class="icon--mnuTasks"></i> mnuTasks</p></div>
    <div class="col-1-4"><p><i class="icon--mnuTraining"></i> mnuTraining</p></div>
    <div class="col-1-4"><p><i class="icon--directory"></i> directory</p></div>
    <div class="col-1-4"><p><i class="icon--events"></i> events</p></div>
    <div class="col-1-4"><p><i class="icon--latest-news"></i> latest-news</p></div>
    <div class="col-1-4"><p><i class="icon--manage"></i> manage</p></div>
    <div class="col-1-4"><p><i class="icon--my-training"></i> my-training</p></div>
    <div class="col-1-4"><p><i class="icon--network-feed"></i> network-feed</p></div>
    <div class="col-1-4"><p><i class="icon--onboarding"></i> onboarding</p></div>
    <div class="col-1-4"><p><i class="icon--reports"></i> reports</p></div>
    <div class="col-1-4"><p><i class="icon--training"></i> training</p></div>
    <div class="col-1-4"><p><i class="icon--mnuInbox"></i> mnuInbox</p></div>
    <div class="col-1-4"><p><i class="icon--mnuLogout"></i> mnuLogout</p></div>
    <div class="col-1-4"><p><i class="icon--mnuMyProfile"></i> mnuMyProfile</p></div>
    <div class="col-1-4"><p><i class="icon--mnuMyTeam"></i> mnuMyTeam</p></div>
    <div class="col-1-4"><p><i class="icon--mnuSettings"></i> mnuSettings</p></div>
    <div class="col-1-4"><p><i class="icon--mnuSupport"></i> mnuSupport</p></div>
    
</div>