<div class="form__field">
    <div class="field__radio">
        <input type="radio" ng-click="myValue = 'Internal'" 
        name="optionsRadios" id="optionsRadios1" 
        ng-disabled="selectedOption.Selected.length > 0"
        ng-model="myValue" ng-value="'Internal'">
        <label for="optionsRadios1" class="form__label">Internal</label>
    </div>
    <div class="field__radio">
        <input type="radio" name="optionsRadios" 
        id="optionsRadios2" ng-click="myValue = 'External'" ng-model="myValue" ng-value="'External'"  ng-disabled="selectedOption.Selected.length > 0">
        <label for="optionsRadios2" class="form__label">External</label>
    </div>
    <br/>
    <a ng-if="selectedOption.Selected.length === 0" 
    ng-class="{'button--disabled' : myValue === ''}" 
    href="#" class="button button--positive button--more" 
    ng-click="myValue != '' ? close() : ''">Add Filter</a>
    
    <a ng-if="selectedOption.Selected.length > 0" href="#"
         class="button button--positive button--more" 
         ng-click="removeFilter()">Remove Filter</a>
</div>
