<div class="form__field">
    <div class="field__checkbox">
        <input id="optionsCheck1" type="checkbox">
        <label for="optionsCheck1" class="form__label">APPROVED</label>
    </div>
    <div class="field__checkbox">
        <input id="optionsCheck2"  type="checkbox">
        <label for="optionsCheck2" class="form__label">REJECTED</label>
    </div>
    <div class="field__checkbox">
        <input id="optionsCheck3" type="checkbox">
        <label for="optionsCheck3" class="form__label">CANCELED</label>
    </div>
    <div class="field__checkbox">
        <input id="optionsCheck4" type="checkbox">
        <label for="optionsCheck4" class="form__label">IN-PROGRESS</label>
    </div>
    <br />
    <a href="#" class="button button--positive button--more" ng-click="close()">Add Filter</a>
</div>
