/* 
 * This file is a template used to generate icons.styl
 *
 * To override automatic gylph names, create the svg in the following format
 *
 * filename:  uE123-logout.svg
 * output:  .icon--logout:before {content: "\E234"}
 *
 */
 
// All icons
//
// Markup: markup/icons.hbs
//
// Styleguide elements.icons.allicons

.icon--align-justify:before { content: "\E601" }
icon-align-justify = "\E601";
.icon--align-left:before { content: "\E602" }
icon-align-left = "\E602";
.icon--align-right:before { content: "\E603" }
icon-align-right = "\E603";
.icon--article:before { content: "\E604" }
icon-article = "\E604";
.icon--attachment:before { content: "\E605" }
icon-attachment = "\E605";
.icon--bin:before { content: "\E606" }
icon-bin = "\E606";
.icon--birthday:before { content: "\E607" }
icon-birthday = "\E607";
.icon--calendar:before { content: "\E608" }
icon-calendar = "\E608";
.icon--camera:before { content: "\E609" }
icon-camera = "\E609";
.icon--change-title:before { content: "\E60A" }
icon-change-title = "\E60A";
.icon--clipboard:before { content: "\E60B" }
icon-clipboard = "\E60B";
.icon--clock:before { content: "\E60C" }
icon-clock = "\E60C";
.icon--clockwise:before { content: "\E60D" }
icon-clockwise = "\E60D";
.icon--comment-2:before { content: "\E60E" }
icon-comment-2 = "\E60E";
.icon--comment:before { content: "\E60F" }
icon-comment = "\E60F";
.icon--copy:before { content: "\E610" }
icon-copy = "\E610";
.icon--document-arrow:before { content: "\E611" }
icon-document-arrow = "\E611";
.icon--document-clean:before { content: "\E612" }
icon-document-clean = "\E612";
.icon--document:before { content: "\E613" }
icon-document = "\E613";
.icon--download:before { content: "\E614" }
icon-download = "\E614";
.icon--edit:before { content: "\E615" }
icon-edit = "\E615";
.icon--ellipsis:before { content: "\E616" }
icon-ellipsis = "\E616";
.icon--error:before { content: "\E617" }
icon-error = "\E617";
.icon--facebook:before { content: "\E618" }
icon-facebook = "\E618";
.icon--folder-detailed:before { content: "\E619" }
icon-folder-detailed = "\E619";
.icon--folder:before { content: "\E61A" }
icon-folder = "\E61A";
.icon--heart:before { content: "\E61B" }
icon-heart = "\E61B";
.icon--help:before { content: "\E61C" }
icon-help = "\E61C";
.icon--inbox:before { content: "\E61D" }
icon-inbox = "\E61D";
.icon--key:before { content: "\E61E" }
icon-key = "\E61E";
.icon--like:before { content: "\E61F" }
icon-like = "\E61F";
.icon--link-2:before { content: "\E620" }
icon-link-2 = "\E620";
.icon--link:before { content: "\E621" }
icon-link = "\E621";
.icon--linkedin:before { content: "\E622" }
icon-linkedin = "\E622";
.icon--links:before { content: "\E623" }
icon-links = "\E623";
.icon--list-ol:before { content: "\E624" }
icon-list-ol = "\E624";
.icon--list-ul:before { content: "\E625" }
icon-list-ul = "\E625";
.icon--list:before { content: "\E626" }
icon-list = "\E626";
.icon--lock:before { content: "\E627" }
icon-lock = "\E627";
.icon--logout:before { content: "\E628" }
icon-logout = "\E628";
.icon--mail:before { content: "\E629" }
icon-mail = "\E629";
.icon--maximise:before { content: "\E62A" }
icon-maximise = "\E62A";
.icon--maximize:before { content: "\E62B" }
icon-maximize = "\E62B";
.icon--minimise:before { content: "\E62C" }
icon-minimise = "\E62C";
.icon--newsfeed:before { content: "\E62D" }
icon-newsfeed = "\E62D";
.icon--notebook:before { content: "\E62E" }
icon-notebook = "\E62E";
.icon--pencil:before { content: "\E62F" }
icon-pencil = "\E62F";
.icon--person-group:before { content: "\E630" }
icon-person-group = "\E630";
.icon--person-single:before { content: "\E631" }
icon-person-single = "\E631";
.icon--phone:before { content: "\E632" }
icon-phone = "\E632";
.icon--picture:before { content: "\E633" }
icon-picture = "\E633";
.icon--pin:before { content: "\E634" }
icon-pin = "\E634";
.icon--print:before { content: "\E635" }
icon-print = "\E635";
.icon--quote:before { content: "\E636" }
icon-quote = "\E636";
.icon--round-info:before { content: "\E637" }
icon-round-info = "\E637";
.icon--search:before { content: "\E638" }
icon-search = "\E638";
.icon--share:before { content: "\E639" }
icon-share = "\E639";
.icon--slider:before { content: "\E63A" }
icon-slider = "\E63A";
.icon--spanner:before { content: "\E63B" }
icon-spanner = "\E63B";
.icon--star:before { content: "\E63C" }
icon-star = "\E63C";
.icon--stats:before { content: "\E63D" }
icon-stats = "\E63D";
.icon--success:before { content: "\E63E" }
icon-success = "\E63E";
.icon--tag:before { content: "\E63F" }
icon-tag = "\E63F";
.icon--twitter:before { content: "\E640" }
icon-twitter = "\E640";
.icon--user:before { content: "\E641" }
icon-user = "\E641";
.icon--vcard:before { content: "\E642" }
icon-vcard = "\E642";
.icon--video:before { content: "\E643" }
icon-video = "\E643";
.icon--views:before { content: "\E644" }
icon-views = "\E644";
.icon--warning:before { content: "\E645" }
icon-warning = "\E645";
.icon--wifi:before { content: "\E646" }
icon-wifi = "\E646";
.icon--arrow-down:before { content: "\E647" }
icon-arrow-down = "\E647";
.icon--arrow-left:before { content: "\E648" }
icon-arrow-left = "\E648";
.icon--arrow-right:before { content: "\E649" }
icon-arrow-right = "\E649";
.icon--arrow-up:before { content: "\E64A" }
icon-arrow-up = "\E64A";
.icon--block-check:before { content: "\E64B" }
icon-block-check = "\E64B";
.icon--block-cross:before { content: "\E64C" }
icon-block-cross = "\E64C";
.icon--block-minus:before { content: "\E64D" }
icon-block-minus = "\E64D";
.icon--block-plus:before { content: "\E64E" }
icon-block-plus = "\E64E";
.icon--check:before { content: "\E64F" }
icon-check = "\E64F";
.icon--cross:before { content: "\E650" }
icon-cross = "\E650";
.icon--down:before { content: "\E651" }
icon-down = "\E651";
.icon--left:before { content: "\E652" }
icon-left = "\E652";
.icon--minus:before { content: "\E653" }
icon-minus = "\E653";
.icon--plus:before { content: "\E654" }
icon-plus = "\E654";
.icon--right:before { content: "\E655" }
icon-right = "\E655";
.icon--round-arrow-left:before { content: "\E656" }
icon-round-arrow-left = "\E656";
.icon--round-arrow-right:before { content: "\E657" }
icon-round-arrow-right = "\E657";
.icon--round-check:before { content: "\E658" }
icon-round-check = "\E658";
.icon--round-cross:before { content: "\E659" }
icon-round-cross = "\E659";
.icon--round-minus:before { content: "\E65A" }
icon-round-minus = "\E65A";
.icon--round-plus:before { content: "\E65B" }
icon-round-plus = "\E65B";
.icon--up:before { content: "\E65C" }
icon-up = "\E65C";
.icon--grid-view:before { content: "\E65D" }
icon-grid-view = "\E65D";
.icon--new-folder:before { content: "\E65E" }
icon-new-folder = "\E65E";
.icon--upload:before { content: "\E65F" }
icon-upload = "\E65F";
.icon--job:before { content: "\E660" }
icon-job = "\E660";
.icon--library:before { content: "\E661" }
icon-library = "\E661";
.icon--request:before { content: "\E662" }
icon-request = "\E662";
.icon--neutral:before { content: "\E663" }
icon-neutral = "\E663";
.icon--notes:before { content: "\E664" }
icon-notes = "\E664";
.icon--pencil1:before { content: "\E665" }
icon-pencil1 = "\E665";
.icon--profile-about:before { content: "\E666" }
icon-profile-about = "\E666";
.icon--profile-camera:before { content: "\E667" }
icon-profile-camera = "\E667";
.icon--profile-document:before { content: "\E668" }
icon-profile-document = "\E668";
.icon--profile-history:before { content: "\E669" }
icon-profile-history = "\E669";
.icon--profile-info:before { content: "\E66A" }
icon-profile-info = "\E66A";
.icon--profile-note:before { content: "\E66B" }
icon-profile-note = "\E66B";
.icon--profile-setting:before { content: "\E66C" }
icon-profile-setting = "\E66C";
.icon--profile-wall:before { content: "\E66D" }
icon-profile-wall = "\E66D";
.icon--profile-workflow:before { content: "\E66E" }
icon-profile-workflow = "\E66E";
.icon--sad:before { content: "\E66F" }
icon-sad = "\E66F";
.icon--smiling:before { content: "\E670" }
icon-smiling = "\E670";
.icon--cd-add_filter:before { content: "\E671" }
icon-cd-add_filter = "\E671";
.icon--cd-add_tag:before { content: "\E672" }
icon-cd-add_tag = "\E672";
.icon--cd-open_all:before { content: "\E673" }
icon-cd-open_all = "\E673";
.icon--cd-progress_green:before { content: "\E674" }
icon-cd-progress_green = "\E674";
.icon--cd-progress_red:before { content: "\E675" }
icon-cd-progress_red = "\E675";
.icon--cd-progress_yellow:before { content: "\E676" }
icon-cd-progress_yellow = "\E676";
.icon--cd-remove_tag:before { content: "\E677" }
icon-cd-remove_tag = "\E677";
.icon--cd-share:before { content: "\E678" }
icon-cd-share = "\E678";
.icon--cd-star_full:before { content: "\E679" }
icon-cd-star_full = "\E679";
.icon--cd-warning:before { content: "\E67A" }
icon-cd-warning = "\E67A";
.icon--gear:before { content: "\E67B" }
icon-gear = "\E67B";
.icon--stop:before { content: "\E67C" }
icon-stop = "\E67C";
.icon--add-question:before { content: "\E67D" }
icon-add-question = "\E67D";
.icon--any-type:before { content: "\E67E" }
icon-any-type = "\E67E";
.icon--date:before { content: "\E67F" }
icon-date = "\E67F";
.icon--import-template:before { content: "\E680" }
icon-import-template = "\E680";
.icon--multi-choice:before { content: "\E681" }
icon-multi-choice = "\E681";
.icon--recruit:before { content: "\E682" }
icon-recruit = "\E682";
.icon--single-choice:before { content: "\E683" }
icon-single-choice = "\E683";
.icon--text:before { content: "\E684" }
icon-text = "\E684";
.icon--yes-no:before { content: "\E685" }
icon-yes-no = "\E685";
.icon--mnuDashboard:before { content: "\E686" }
icon-mnuDashboard = "\E686";
.icon--mnuDocuments:before { content: "\E687" }
icon-mnuDocuments = "\E687";
.icon--mnuInternalJobs:before { content: "\E688" }
icon-mnuInternalJobs = "\E688";
.icon--mnuPerformance:before { content: "\E689" }
icon-mnuPerformance = "\E689";
.icon--mnuRecruitment:before { content: "\E68A" }
icon-mnuRecruitment = "\E68A";
.icon--mnuRequests:before { content: "\E68B" }
icon-mnuRequests = "\E68B";
.icon--mnuRosters:before { content: "\E68C" }
icon-mnuRosters = "\E68C";
.icon--mnuSurvey:before { content: "\E68D" }
icon-mnuSurvey = "\E68D";
.icon--mnuTasks:before { content: "\E68E" }
icon-mnuTasks = "\E68E";
.icon--mnuTraining:before { content: "\E68F" }
icon-mnuTraining = "\E68F";
.icon--directory:before { content: "\E690" }
icon-directory = "\E690";
.icon--events:before { content: "\E691" }
icon-events = "\E691";
.icon--latest-news:before { content: "\E692" }
icon-latest-news = "\E692";
.icon--manage:before { content: "\E693" }
icon-manage = "\E693";
.icon--my-training:before { content: "\E694" }
icon-my-training = "\E694";
.icon--network-feed:before { content: "\E695" }
icon-network-feed = "\E695";
.icon--onboarding:before { content: "\E696" }
icon-onboarding = "\E696";
.icon--reports:before { content: "\E697" }
icon-reports = "\E697";
.icon--training:before { content: "\E698" }
icon-training = "\E698";
.icon--mnuInbox:before { content: "\E699" }
icon-mnuInbox = "\E699";
.icon--mnuLogout:before { content: "\E69A" }
icon-mnuLogout = "\E69A";
.icon--mnuMyProfile:before { content: "\E69B" }
icon-mnuMyProfile = "\E69B";
.icon--mnuMyTeam:before { content: "\E69C" }
icon-mnuMyTeam = "\E69C";
.icon--mnuSettings:before { content: "\E69D" }
icon-mnuSettings = "\E69D";
.icon--mnuSupport:before { content: "\E69E" }
icon-mnuSupport = "\E69E";
