.ui
    .mfb-component__button--main, .mfb-component__button--child {
        background-color: grey3;
    }

    /**
    * These are the basic styles for all the icons inside the main button
    */
    .mfb-component__icon, .mfb-component__main-icon--active,
    .mfb-component__main-icon--resting, .mfb-component__child-icon {
        line-height: 45px;
    }

    .mfb-component__button--main {
        background-color: primary;
    }

    .mfb-component__button--child {
        height: 50px;
        width: 50px; 
    }

    .mfb-component--br li a{
        color: white;
    }

 