.ui
    .progress__wrapper {
        width: 100%;

        .progress__steps {
            width: 100%;
            display: table;

            .progress__step {
                display: table-cell;
                text-align: center;
            }

            .progress__step--is-active {
                font-weight: bold;
            }
        }
    }