.ui
  // Timeline
  //
  // Markup:
  // <ul class="timeline">
  //    <li class="timeline__item">
  //      <div class="timeline__item__title">Note Added</div>
  //      <div class="timeline__item__subtext">Vestibulum quis pellentesque justo, eu ultricies est. In dignissim, orci a bibendum scelerisque, eros neque faucibus justo, vel accumsan lorem tellus ac metus. Phasellus orci erat, porta quis congue ut, tempus sit amet dui. Aenean tristique dui sit amet augue porta, in finibus ipsum rutrum. Suspendisse eget sollicitudin dui, id aliquam justo. Pellentesque commodo feugiat libero, in aliquam nibh vulputate ac. Quisque placerat ex sit amet elit luctus venenatis. Aliquam luctus orci neque, quis sagittis lacus tempor vel. Nulla sit amet dictum magna. Morbi sed magna diam.</div>
  //      <div class="timeline__item__details"><avatar class="timeline__item__avatar" size="tiny"></avatar> <span class="timeline__item__author">Christian Sesta</span> <span class="timeline__item__date">5 Jan 2016, 12.03 PM</span></div>
  //    </li>
  //    <li class="timeline__item">
  //      <div class="timeline__item__title">Operations Manager</div>
  //      <div class="timeline__item__subtext"><strong>2015-09-12</strong> to <strong>Present</strong></div>
  //    </li>
  // </ul>
  //
  // Styleguide elements.timeline
  .timeline
    list-style-type: none;
    padding: 0;
    margin: 0;
    .timeline__item
      position: relative;
      padding: 0 0 0 20px;
      min-height: 44px;
      margin-bottom: 20px;
      &:before,
      &:after
        content: '';
        position: absolute;
        display: block;
      &:before
        border: solid 2px primary;
        border-radius: 20px;
        width: 10px;
        height: 10px;
        top: 5px;
        left: 1px;
      &:after
        background: primary;
        width: 2px;
        top: 15px;
        left: 5px;
        bottom: -27px;
      &:last-child:after
        background: linear-gradient(to bottom, primary 0%,#ffffff 100%);
        height: 20px;
      .timeline__item__title
        font-weight: 700;
        font-size 14px;
      .timeline__item__subtext
        line-height: 1.4;
        font-size: 13px;
        color: grey5;
      .timeline__item__details
        margin: 5px 0;
      .timeline__item__avatar
        vertical-align: text-bottom;
      .timeline__item__author
        line-height: 1.4;
        font-size: 13px;
        font-weight: 700;
        color: primary;
      .timeline__item__date
        line-height: 1.4;
        font-size: 11px;
        color: grey5;
        margin-left: 10px;
