.ui
  // Well
  //
  // Markup:
  // <div class="well">
  //    <i class="icon--round-info well__icon"></i>
  //    <span class="well__content">
  //       The added applicant <strong>will not</strong> be communicated or prompted to complete assessment items such as questionnaires (if any).<br />
  //       Resumes uploaded by you will remain confidential within your company account.
  //    </span>
  // </div>
  //
  // Styleguide elements.well
  .well
    clearfix();
    background: grey8;
    padding: 10px;
    border-radius: 3px;
    margin: -14px 0 20px 0;
    position:relative;
  .well__icon
    color: grey6;
    float: left;
    position: absolute;
    top: 7px;
  .well__content
    margin-left: 2.0em;
    font-size 11px;
    float: left;