

// Color helpers
// ------------------------------------------------


for key, value in theme
    .theme--{key}
        color: value
        background-color: value
        border-color: value


// => .theme-red {
//        color : red;
//        background-color : red;
//        border-color : red;
//    }