// Legacy style for ASP generated radios wrapped in a table
// TODO - remove this when all ASP html has been removed
.aspRadios {
    width: 100%;
    input[type=radio] {
        margin: 0 0.5em 4px 0;
    }
    label {
    }
}
.ui-datepicker {
    font-size: 14px !important;
    
    select {
        padding: 3px !important;
    }
}
.ui-autocomplete {
    font-size: 14px !important;
}
.asp-error-list {
    
    font-size: 14px;
    color: negative;
}
#docContentInline embed {
    border: solid 1px grey7;
    height: 700px;
}
