// Pixel sizes
//
// mobile - 1px
// phablet - 321px
// smallTablet - 480px
// tablet - 700px
// desktop - 900px
// widescreen - 1300px
//
// Styleguide core.mediaqueries.pixelsizes

// Min
// This affects elements gt > than the resolution
minMobile = "screen and (min-width:" + mobile + ")"
minPhablet = "screen and (min-width:" + phablet + ")"
minSmallTablet = "screen and (min-width:" + smallTablet + ")"
minTablet = "screen and (min-width:" + tablet + ")"
minDesktop = "screen and (min-width:" + desktop + ")"
minWidescreen = "screen and (min-width:" + widescreen + ")"

// Min sizes
//
// minMobile - "screen and (min-width:" + mobile + ")"
// minPhablet - "screen and (min-width:" + phablet + ")"
// minSmallTablet - "screen and (min-width:" + smallTablet + ")"
// minTablet - "screen and (min-width:" + tablet + ")"
// minDesktop - "screen and (min-width:" + desktop + ")"
// minWidescreen - "screen and (min-width:" + widescreen + ")"
// 
// Styleguide core.mediaqueries.min

// Max
// This affects elements lt < the resolution
maxMobile = "screen and (max-width:" + mobile + ")"
maxPhablet = "screen and (max-width:" + phablet + ")"
maxSmallTablet = "screen and (max-width:" + smallTablet + ")"
maxTablet = "screen and (max-width:" + tablet + ")"
maxDesktop = "screen and (max-width:" + desktop + ")"
maxWidescreen = "screen and (max-width:" + widescreen + ")"

// Max sizes
//
// maxMobile - "screen and (max-width:" + mobile + ")"
// maxPhablet - "screen and (max-width:" + phablet + ")"
// maxSmallTablet - "screen and (max-width:" + smallTablet + ")"
// maxTablet - "screen and (max-width:" + tablet + ")"
// maxDesktop - "screen and (max-width:" + desktop + ")"
// maxWidescreen - "screen and (max-width:" + widescreen + ")"
//
// Styleguide core.mediaqueries.max

// Between sizes
betweenMobilePhablet = "screen and (min-width:" + mobile + ") and (max-width:" + phablet + ")"
betweenPhabletSmallTablet = "screen and (min-width:" + phablet + ") and (max-width:" + smallTablet + ")"
betweenSmallTabletTablet = "screen and (min-width:" + smallTablet + ") and (max-width:" + tablet + ")"
betweenTabletDesktop = "screen and (min-width:" + tablet + ") and (max-width:" + desktop + ")"
betweenDesktopWidescreen = "screen and (min-width:" + desktop + ") and (max-width:" + widescreen + ")"

// Between sizes
//
// betweenMobilePhablet - "screen and (min-width:" + mobile + ") and (max-width:" + phablet + ")"
// betweenPhabletSmallTablet - "screen and (min-width:" + phablet + ") and (max-width:" + smallTablet + ")"
// betweenSmallTabletTablet - "screen and (min-width:" + smallTablet + ") and (max-width:" + tablet + ")"
// betweenTabletDesktop - "screen and (min-width:" + tablet + ") and (max-width:" + desktop + ")"
// betweenDesktopWidescreen - "screen and (min-width:" + desktop + ") and (max-width:" + widescreen + ")"
//
// Styleguide core.mediaqueries.between


minNavDesktop = "screen and (min-width:" + navDesktop + ")"
maxNavDesktop = "screen and (max-width:" + navDesktop + ")"