<div class="personal-details--clearfix">
    <div class="align-left">
    <i class="icon--clock"></i>
    <strong>{{applicantDetails.AppliedDate | fromNow}}</strong>
    <small>Applied {{applicantDetails.AppliedDate | dateOnly}}</small>
    </div>
    <div class="align-right">
        <img ng-if="applicantDetails.JobLogo" ng-src="{{applicantDetails.JobLogo}}"
             alt="Description" class="application-details__img--size"/>
    </div>
</div>
<div>
    <div class="application-details__details-panel" ng-class="{'align-left': applicantDetails.userCan(EntityActionType.CanViewPdfResumeDocument)|| applicantDetails.userCan(EntityActionType.CanViewPdfCoverDocument),'full-width': editing}">
        <ng-include src="'/interface/views/recruit/job-application/partials/form-applicant-contact-details.html'"></ng-include>
    </div>
    <div ng-hide="editing" ng-if="applicantDetails.userCan(EntityActionType.CanViewPdfResumeDocument) || applicantDetails.userCan(EntityActionType.CanViewPdfCoverDocument)" class="col-1-3 align-right application-details__file-content">
        <strong>Files</strong>
        <hr>
        <div class="document-layout">
            <a href="#" ng-if="applicantDetails.userCan(EntityActionType.CanViewPdfResumeDocument)"
               ng-click="viewDocument(applicantDetails.userCan(EntityActionType.CanViewPdfResumeDocument).ActionUrl, applicantDetails.Attachments.resumeFilename, 'resume')">
                <span class="align-left"><i class="svg-icon--doc application-details__file-icon--size"></i></span>
                <div class="applicant-details__file-label application-details__file-label--size">Resume</div><!-- TODO add functionality to open the doc view -->
            </a>
        </div>
        <div class="document-layout">
            <a href="#" ng-if="applicantDetails.userCan(EntityActionType.CanViewPdfCoverDocument)"
               ng-click="viewDocument(applicantDetails.userCan(EntityActionType.CanViewPdfCoverDocument).ActionUrl, applicantDetails.Attachments.coverLetterFilename, 'coverletter')">
                <span class="align-left"><i class="svg-icon--ppt application-details__file-icon--size"></i></span>
                <div class="applicant-details__file-label application-details__file-label--size">Cover Letter</div>
            </a>
        </div>
    </div>
</div>