<header class="modal__header">
    <h2 class="modal__title">Set password</h2>
</header>

<div class="modal__content" ng-class="{'is--loading': changePassword.$submitting}">
    
    <p>Congratulations! You're nearly ready to go. Before you get started we require you to set a password for your account.</p>
    
    <form-builder form-id="changePasswordForm"
                  form-data-url="/interface/views/profile/form-data/change-password.json"
                  template="/interface/views/profile/partials/form-change-password.html"
                  submit="savePassword"
                  parent-data="changePassword">
    </form-builder>

</div>
