<div class="password-strength password-strength--{{strength}}" ng-switch on="strength">
    <div class="progress-bar progress-bar--password-strength">
        <div class="progress-bar--password-strength__block"></div>
        <div class="progress-bar--password-strength__block"></div>
        <div class="progress-bar--password-strength__block"></div>
        <div class="progress-bar--password-strength__block"></div>
        <div class="progress-bar--password-strength__block"></div>
    </div>
    <p class="password-strength__description">
        <span ng-switch-when="1">Very weak</span>
        <span ng-switch-when="2">Weak</span>
        <span ng-switch-when="3">It's ok...</span>
        <span ng-switch-when="4">Good</span>
        <span ng-switch-when="5">Very good</span>
    </p>
    <p ng-show="strength <= 4 && strength !== 0"><small>To improve the strength of your password, ensure that it is at least 8 characters long and use a combination of numbers, upper and lowercase letters and special characters such as !, @ or #.</small></p>
</div>