<div class="comments" ng-show="showAddComment">

    <div class="comment__list">
        
        <div class="comment__more" ng-show="moreToLoad">
            <a ng-hide="gettingComments || !moreToLoad" href="" class="button button--tiny button--basic" ng-click="getComments()">More comments</a>
            <loader ng-show="gettingComments"></loader>
        </div>
        
        <div ng-repeat="comment in comments" class="media comment">
            <a href="" target="_self" class="media__image" path="network.profile" path-params="comment.CommentSummary.Owner.MemberId">
                <div class="avatar-loader" ng-class="{ 'is' : comment.loading }">
                    <avatar img-src="comment.CommentSummary.Owner.PhotoThumb"></avatar>
                </div>
            </a>
            <div class="media__body">
                <div class="comment__name">
                    <a href="" target="_self" path="network.profile" path-params="comment.CommentSummary.Owner.MemberId">
                        {{ ::comment.CommentSummary.Owner.FirstName}} {{ ::comment.CommentSummary.Owner.Surname}}
                    </a>
                    <small ng-if="comment.CommentSummary.DateCommented">
                        <span ng-if="resourceType !== 'onboarding' && resourceType !== 'bulk'">- {{::comment.CommentSummary.DateCommented | fromNow}}</span>
                        <span ng-if="resourceType === 'onboarding' || resourceType === 'bulk'">- {{::comment.CommentSummary.DateCommented | utcToLocal | fromNow}}</span>
                    </small>
                </div>
                <div ng-if="comment.failed && !comment.loading" class="comment__error">
                    Failed to save. <a href="" ng-click="syncComment(comment)">Try again</a>
                </div>
                <p ng-bind-html="::comment.CommentSummary.HtmlComment"></p>
                <a href="" ng-if="comment.userCan.delete" class="comment__delete" ng-confirm-click="deleteComment($index)" ng-confirm-message="Are you sure you want to delete this?"><i class="icon--round-cross"></i></a>
            </div>
        </div>
    </div>

    <div class="media comment comment--write">
        <div class="media__image">
            <avatar img-src="currentUser.MemberProfile.PhotoThumb" size="small"></avatar>
        </div>
        <div class="media__body">
            <ng-form ng-submit="addComment(newComment)">
                <input type="text" class="comment__field" placeholder="Write a comment..." ng-model="newComment" ng-enter="addComment(newComment)" >
                <a href="" ng-click="addComment(newComment)" class="comment__submit" ng-class="{ 'is--active' : newComment.length }">
                    <i class="icon--comment{{ newComment.length ? '' : '-2' }}"></i>
                </a>
            </ng-form>
        </div>
    </div>
</div>