<div class="form__field {{ element.class }}" ng-class="{'is--required': element.validation.required}">
    
    <div class="radio-list" ng-class="{'radio-list--filter': element.filter}">

        <p
            ng-if="element.label" 
            class="form__label"
        >
            {{ element.label }}
        </p>
        

        <div class="field__radio" ng-repeat="option in element.options track by (element.labelPropertyName ? option[element.labelPropertyName] : option.Label)">
            <input type="checkbox"
                   id="{{ formData.name + '__' + element.name + $index }}"
                   name="{{element.name + '__' + $index}}"
                   ng-value="element.valuePropertyName ? option[element.valuePropertyName] : option.Value"
                   ng-model="element.val[$index]"
                   ng-change="{{element.onchange}}"
                   ng-checked="{{option.checked}}" />
            
            <label for="{{ formData.name + '__' + element.name + $index }}" class="form__label" ng-bind-html="element.labelPropertyName ? option[element.labelPropertyName] : option.Label"></label>

        </div>

        <span class="form_note" ng-if="element.note">{{ element.note }}</span>
        
        <error-builder></error-builder>

    </div>

</div>
