<div class="form__field {{ element.class }}" ng-class="{'is--required': element.validation.required}">
    <label 
    ng-if="element.label"
    class="form__label"
    for="{{ formData.name + '__' + element.name }}"
    >{{ element.label }}</label>
    
    <network-roles
        all-toggle=""
        id="{{ formData.name + '__' + element.name }}"
        ng-model="element.val"
        name="{{element.name}}"
        ng-change="{{element.onchange}}"
        ng-required="element.validation.required"
    ></network-roles>

    <p ng-if="element.note"><small>* {{ element.note }}</small></p>
    <error-builder></error-builder>
</div>