<div class="form__field {{ element.class }}" ng-class="{'is--required': element.validation.required}">

    <label 
    ng-if="element.label"
    class="form__label"
    for="{{ element.formName + '__' + element.name }}"
    >{{ element.label }}</label>

    <input type="text"
        id="{{ element.formName + '__' + element.name }}"
        placeholder="{{ element.placeholder }}"
        name="{{element.name}}"
        ng-model="element.val"
        ng-change="{{element.onchange}}"
        ng-required="element.validation.required"
        ng-minLength="{{element.validation.minLength || 0}}"
        ng-maxLength="{{element.validation.maxLength || 999}}"
        typeahead="{{element.typeahead}}"
    />
    <p ng-if="element.note"><small>* {{ element.note }}</small></p>

    <error-builder></error-builder>

</div>