<div class="form__field {{ element.class }}" ng-class="{'is--required': element.validation.required}">

    <label 
    ng-if="element.label" 
    class="form__label" 
    for="{{ element.formName + '__' + element.name }}">{{ element.label }}</label>
    <select-group
        id="{{ element.formName + '__' + element.name }}"
        name="{{element.name}}"
        ng-model="element.val"
        ng-change="{{element.onchange}}"
        ng-required="element.validation.required">
    </select-group>
    <error-builder></error-builder>
</div>
