<section class="job-ads-create-section job-ads-create modal__content job-create" ng-class="{'is--loading': loading}">
    <div>
        <h4 class="is--bold">QUESTIONS</h4>
        <h4 class="is--bold">Job questions</h4>
        <div class="question__list">
            <div class="question-group-item">
                <div class="question-group-title">
                    <i class="icon--grid"></i>
                    <span class="group-name">Eligibility</span>
                    <i class="icon--trash"></i>
                </div>
            </div>

            <div class="question-group-item">
                <div class="question-group-title">
                    <i class="icon--grid"></i>
                    <span class="group-name">Overseas applicant</span>
                    <i class="icon--trash"></i>
                </div>
            </div>
        </div>
    </div>
</section>
