
// Short term page for Profile uplaoder reskin

.ui
    
    // Header
    // -----------------------------

    .profile-uploader-header {
        position: relative;
        padding: 0 15px 12px 15px;
        text-align: center;
        margin-bottom: 20px;

        @media minTablet {
            margin-bottom: 40px;
            padding-left: 0;
            padding-right: 0;
            border-bottom: solid 1px grey7;
            text-align: left;
        }
    }

    .profile-uploader-header__title {
        font-size: 28px;
        margin: 0 0 6px 0;
    }

    .profile-uploader-header__sub {
        font-size: 12px;
        margin: 0;
        text-transform: uppercase;
        color: grey3;
    }

    .profile-uploader-header__action {
        color: grey4;
        font-size: 12px;
        text-transform: uppercase;
        position: absolute;
        right: 0;
        bottom: 10px;
        display: none;

        &:hover {
            color: primary;
        }

        [class*="icon--"] {
            color: primary;
            font-size: 14px;
            margin-right: 2px;
            vertical-align: text-top;
        }

        @media minTablet {
            display: block;
        }
    }

    .profile-uploader-header__input {
        position: absolute;
        left: -900em;
        top: 0;
    }

    .profile-uploader-header__return {
        position: absolute;
        top: 12px;
        left: -60px;
        color: grey7;

        &:hover {
            color: primary;
        }

        [class*="icon--"] {
            font-size: 30px;
        }
    }

    // uplaoder
    // -----------------------------

    .profile-uploader {
        margin-top: 0;

        .jq-choose-file {
            cursor: pointer;
        }
    }

    .profile-uploader__image {
        margin: 0 auto;
        padding: 20px 0 40px 0;
        position: relative;
        width: 250px;

        .rc-outer-grey {
            width: 250px;
            margin: 0 auto;
            text-align: center;
        }

        img {
            border-radius: 100%;
            overflow: hidden;
            width: 250px;
            height: 250px;
            display: block;

            &:hover {
                opacity: 0.8;
            }
        }

        canvas {
            border-radius: 100%;
            display: none;
        }

        // hack fix for canvas position
        #ctl00_ContentPlaceHolder1_UpdatePanel1 {
            position: relative;
        }

    }

    .profile-uploader__cover-image {
        margin: 0 auto;
        padding: 20px 0 40px 0;
        position: relative;

        .rc-outer-grey {
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }

        img {
            overflow: hidden;
            display: block;

            &:hover {
                opacity: 0.8;
            }
        }

        canvas {
            display: none;
        }

        // hack fix for canvas position
        #ctl00_ContentPlaceHolder1_UpdatePanel1 {
            position: relative;
        }

    }

    .profile-uploader__delete {
        background: primary;
        color: white;
        font-size: 14px;
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 100%;
        text-transform: uppercase;
        position: absolute;
        top: 45px;
        right: 25px;

        [class*="icon--"] {
            color: white
            position: relative;
            top: 2px;
        }
    }

    .profile-uploader__footer {
        border-top: dashed 1px grey7;
        text-align: center;
        padding-top: 15px;

        p {
            font-size: 12px;
            color: grey5;

            strong {
                color: grey2;
            }
        }

        .button-group {
            margin-top: 30px;
        }

    }