.ui
  .status-tooltip
    display: none
    position: absolute
    z-index: 1
  .status-tooltip--hover:hover .status-tooltip
    display: block
  .status-tooltip__up-arrow
    width: 0
    height: 0
    margin-left: 15px
    border-left: 8px solid transparent
    border-right: 8px solid transparent
    border-bottom: 8px solid grey3
  .status-tooltip__right-arrow
    margin-right: 0 !important
    vertical-align: text-top !important
  .status-tooltip__current-status
    font-size 12px
  .status-tooltip__previous-status
    opacity: 0.8
  .status-tooltip__content
    min-width: 146px
    background: grey3;
    padding: 10px
    border-radius: 5px
    color: white
  .status-tooltip__content__history-text--padding-bottom
    padding-bottom: 5px
  .status-tooltip__thin-title
    padding-bottom: 5px
    font-weight: 100