<i>Drag files to this list to create a link to strawberry.png</i>
<div class="text__button">
    or
    <input type="text" placeholder="Search File"/>
</div>
<div class="media media--picture">
    <div class="media__image"><img ng-src="/interface/images/default-user.png" alt="Avatar" class="picture--small" img-src="" size="small" src="/interface/images/default-user.png"></div>
    <div class="media__body"><a href="" class="ng-binding">Jaquie Smith</a> <span>uploaded this file</span></div>
</div>