<header class="modal__header">
    <h3 class="modal__title">Change Titlte</h3>
    <a href="" class="modal__close" ng-click="cancel()"></a>
</header>

<div class="modal__content" ng-class="{'is--loading': loading}">

    <ng-form name="form" novalidate validate-form>

        <fieldset class="form">

            <div class="form__fields">
                <input type="text" placeholder="Type new title" ng-model="editName">
            </div>
            <div align="center">
                <a href="" class="button" ng-click="cancel()">Cancel</a>
                <a href="" class="button button--primary" ng-click="ok()">Done</a>
                <!--<button-loading btn-class="button--positive" ng-click="ok()" ng-disabled=" " ng-class=" {'is--btn-loading': isLoading}">Done</button-loading>-->
            </div>

        </fieldset>

    </ng-form>

</div>