<div class="media media--user">
    <div class="media__image"><img ng-src="/interface/images/default-user.png" alt="Avatar" class="avatar--small" img-src="" size="small" src="/interface/images/default-user.png"></div>
    <div class="media__body"><a href="" class="ng-binding">Jaquie Smith</a> <span>uploaded this file</span></div>
</div>
<div class="group__icon">
    <a>5 <i class="icon--views"></i></a>
    <a>5 <i class="icon--download"></i></a>
    <a>5 <i class="icon--align-justify"></i></a>
</div>

<tabs>
    <ul class="nav nav--horz nav--horz-small">
        <li tab-link active><a href="">Info</a></li>
        <li tab-link><a href="">Permission</a></li>
        <li tab-link><a href="">Related Files</a></li>
    </ul>
    <div class="tab-group tab-group-bottom">
        <div tab-content class="tab-group__tab">
            <table class="table table--info">
                <tr>
                    <td>File size</td>
                    <td>569KB</td>
                </tr>
                <tr>
                    <td>Lasted Update</td>
                    <td>Nov 20, 2015</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>Library/Stuff/Food</td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>Training/..</td>
                </tr>
            </table>
        </div>
        <div tab-content class="tab-group__tab">
            <div class="tag__group">
                <a><i class="icon--user"></i></a>
                <a class="tag">Doncaster<i class="icon--cross"></i></a>
            </div>
            <div class="tag__group">
                <a><i class="icon--birthday"></i></a>
                <a class="tag">Doncaster<i class="icon--cross"></i></a>
            </div>
            <div class="text__button">
                <input type="text"/>
                <input type="button" value="Add" class="button button--primary"/>
            </div>
        </div>
        <div tab-content class="tab-group__tab">
            <i>Drag files to this list to create a link to strawberry.png</i>
            <div class="media media--picture">
                <div class="media__image"><img ng-src="/interface/images/default-user.png" alt="Avatar" class="picture--small" img-src="" size="small" src="/interface/images/default-user.png"></div>
                <div class="media__body"><a href="" class="ng-binding">Jaquie Smith</a> <span>uploaded this file</span></div>
            </div>
        </div>
    </div>
</tabs>

<input type="button" value="OK" class="button button--primary"/>