@charset "utf-8"

// For info on KSS styntax:
// http://warpspire.com/kss/syntax/

// Configuration
// 
// Global config variables, colour palette and various other global settings
//
// Styleguide configuration.

@import "config"

// Mixins
//
// A few global mixins for the site
// 
// Styleguide mixins.

@import "mixins"

// Functions
// 
// If we had any global functions, they would be here

@import "functions"

// Core styles
// 
// Here you'll find resets, global helper classes, print, typography and some other assorted global odds and ends
// 
// Styleguide core.

@import "core"

// Elements
// 
// For defining base elements
//
// Styleguide elements.

@import "elements"


// Modules
//
// For various modules used around the site.  Modules are a combination of elements.
// 
// Styleguide modules.

@import "modules"


// Pages
//
// Page specific styles
// 
// Styleguide pages.

@import "pages"

// Other
//
// Any other styles that don't have a home in .styl files
//
// Styleguide styleguide.
