        <div class="page page--2-1">

            <div class="page__wrapper">
                <ng-form name="form" ng-disabled="loading" validate-form>
                    <div class="editor-breadcrumbs">
                        <ul class="nav nav--breadcrumb">
                            <li><a href="" path="dashboard.index">Dashboard</a></li>
                            <li><a href="" path="dashboard.news.manage">Manage News</a></li>
                        </ul>
                    </div>

                    <!-- content component -->
                    <div class="page__content">                        
                        <div class="feed-posts"> 
                            <div class="post post--editor">
                                <div class="post__body">

                                    <div class="text-editor-title">
                                        <textarea ng-model="post.Title" class="h1" placeholder="Enter a title" required name="title" autogrow maxlength="80">{{post.Title}}</textarea>
                                    </div>

                                    <text-angular 
                                        ng-model="post.Content"
                                        required 
                                        placeholder="Start writing here..." 
                                        name="content"
                                        scroll-fix="48"
                                    ></text-angular>

                                    <uploader maxsize="5000 * 1024" maxfiles="4" action="" 
                                        ng-model="post.FileStoreIds" 
                                        existing="uploadedFiles" 
                                        container-id="7"
										old-uploader="true"
                                        is-uploading="isUploading"></uploader>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- END content component -->

                    <div class="page__aside">

                        <div class="panels">

                            <div class="panel panel--noPadding" ng-if="page.action == 'Edit'">

                                <div class="stats stats--news">
                                    
                                    <div class="stats--news__pie-chart-wrapper">
                                        <pie-chart value-amount="post.LikeCount" value-base="post.ViewUniqueCount" verb="Liked"></pie-chart>
                                    </div>

                                    <a ng-click="showLikes(post)" href="" class="stats--news__statWrapper" ng-show="post.LikeCount >= 0">
                                        <p class="stats--news__stat">{{post.LikeCount}}<span>
                                          <ng-pluralize count="post.LikeCount"
                                                                                                         when="{'one': 'Like',
                                                'other': 'Likes'}">
                                          </ng-pluralize></span></p>
                                        <i class="icon icon--right"></i>
                                    </a>                                    

                                    <a ng-click="showViews(post)" href="" class="stats--news__statWrapper" ng-show="post.ViewUniqueCount >= 0">
                                        <p class="stats--news__stat">{{post.ViewUniqueCount}}<span>
                                                                                                 <ng-pluralize count="post.ViewUniqueCount"
                                                                                                               when="{'one': 'View',
                                                'other': 'Views'}"></ng-pluralize>
                                        </span>
                                        </p>
                                        <i class="icon icon--right"></i>
                                    </a>

                                </div>

                            </div>

                            <div class="panel">
                                
                                <h4 class="panel__heading--large">Publish options</h4>
                                
                                <div class="panel__fieldset">
                                    
                                    <fieldset class="form">
                                        <legend>Choose categories</legend>
                                        <a class="panel__heading-icon" href="" ng-click="openCategories()" tooltip="Edit Categories" tooltip-append-to-body="true"><i class="icon--edit"></i></a>
                                        <div class="form--categories">
                                            <div ng-repeat="category in categories" class="field__checkbox">
                                                <input type="checkbox" id="form_checkbox_id_{{category.BlogCategorySummary.Id}}" value="{{ category.BlogCategorySummary.Id }}" ng-model="post.categories[category.BlogCategorySummary.Id]">
                                                <label class="form__label" for="form_checkbox_id_{{category.BlogCategorySummary.Id}}">{{category.BlogCategorySummary.CategoryName}}</label>
                                            </div>
                                        </div>
                                        <p class="message" ng-show="!categories.length">No categories yet.<br /><a href="" ng-click="openCategories()">Create categories <i class="icon--pencil"></i></a></p>
                                    </fieldset>
                                                                        
                                    <div class="form__field">
                                        <div class="field__toggle field__toggle--align-right">
                                            <input type="checkbox" name="" id="optionsCheck1" ng-model="post.Sticky">
                                            <label class="form__label" for="optionsCheck1">Stick to dashboard</label>
                                        </div>
                                    </div>

                                    <div class="form__field">
                                        <div class="field__toggle field__toggle--align-right">
                                            <input ng-model="post.RequiredView" type="checkbox" name="" id="optionsCheck2">
                                            <label class="form__label" for="optionsCheck2">Attach to login</label>
                                        </div>
                                    </div>

                                    <div class="form__field">
                                        <p>Publish: 
                                            <strong>
                                                {{DatePublish}}
                                            </strong>
                                            <a href="" ng-click="showDatePicker = !showDatePicker" ng-show="page.isDraft">Edit</a>
                                        </p>
                                        <div class="field__edit form__field" ng-show="showDatePicker">

                                            <div class="form__datetime">

                                                <div class="form__field">
                                                    <label for="input_datetime_date" class="icon--calendar field__after"></label>
                                                    <input placeholder="Choose date" type="text" id="input_datetime_date" ng-model="post.DatePublish" datepick="" datepicker-popup="d MMM yyyy">
                                                </div>
                                                <div class="form__field">
                                                    <label for="input_datetime_time" class="icon--clock field__after"></label>
                                                    <input placeholder="Time" type="text" id="input_datetime_time" ng-model="post.DatePublish" timepicker>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                     <div class="form__field">
                                        <p>Share to: <strong>
                                                <span ng-show="post.allGroups">All my groups</span>
                                                <ng-pluralize count="post.selectedGroups.length" ng-hide="post.allGroups"
                                                    when="{'0': 'no groups',
                                                    'one': '{} group',
                                                    'other': '{} groups'}">
                                                </ng-pluralize>
                                            </strong>
                                            <a href="" ng-click="showGroupPicker()">Edit</a>
                                        </p>
                                    </div>

                                </div>
                                
                            </div>
                        
                        </div>

                        <hr>

                        <div class="button-group" ng-show="page.isDraft">
                                <button class="button" ng-click="savePost(isFormValid(form.$valid), post)"  disable-toggle="loading" ng-style="{'button--disabled' : !form.$valid }" ng-disabled="isUploading">Save</button>
                                
                                <button class="button button--positive" ng-click="savePost(isFormValid(form.$valid), post, true)" ng-style="{'button--disabled' : !form.$valid }" ng-disabled="isUploading" disable-toggle="loading">Publish</button>

                                <button ng-show="page.action == 'Edit'" ng-confirm-click="deletePost()" ng-confirm-message="Are you sure you want to delete this Article?" class="button button--caution button--icon"><i class="icon--bin"></i></button>
                           </div>
                           <div class="button-group" ng-hide="page.isDraft">
                                <button class="button button--positive" ng-click="savePost(isFormValid(form.$valid), post)" ng-style="{'button--disabled' : !form.$valid }" ng-disabled="isUploading" disable-toggle="loading">Update</button>

                                <button ng-confirm-click="deletePost()" ng-confirm-message="Are you sure you want to delete this Article?" class="button button--caution button--icon"><i class="icon--bin"></i></button>
                        </div>

                    </div>
                </ng-form>

            </div>

        </div>
