<p>For more information visit:<br/>
    <a href="https://www.ato.gov.au/individuals" target="blank">https://www.ato.gov.au/individuals</a></p>
<p>You need to provide all information requested on this form. Providing the wrong information may lead to incorrect amounts of tax being withheld from payments made to you.</p>
<p><strong>Terms we use</strong></p>
<ul>
    <li><strong>payer</strong>, we mean the business or individual making payments under the pay as you go (PAYG) withholding system</li>
    <li><strong>payee</strong>, we mean the individual being paid.</li>
</ul>
<p><strong>Who should complete this form?</strong></p>
<p>You should complete this form before you start to receive payments from a new payer – for example, when you receive:</p>
<ul>
    <li>payments for work and services as an employee, company director or office holder</li>
    <li>payments under return-to-work schemes, labour-hire arrangements or other specified payments</li>
    <li>benefit and compensation payments</li>
    <li>superannuation benefits.</li>
</ul>
<p>The information you provide on this form is used to work out the amount of tax to be withheld from payments made to you – for example, if you:</p>
<ul>
    <li>are claiming the tax-free threshold from this payer</li>
    <li>are an Australian resident for tax purposes</li>
    <li>have a Higher Education Loan Program (HELP) or Trade Support Loan (TSL) debt</li>
    <li>have a Financial Supplement debt.</li>
</ul>
<p>You do not need to complete this form if you:</p>
<ul>
    <li>have reached 60 years of age and started receiving a super benefit that does not include an untaxed element for that benefit</li>
    <li>are receiving super benefits from a super fund and have been taken to have quoted your TFN to the trustee of the super fund.</li>
</ul>
<p><strong>DO YOU NEED TO APPLY FOR TFN?</strong></p>
<p>If you don’t have a TFN and want to provide a TFN to your payer, you will need to apply for one. For more information about applying for TFN, visit <b>ato.gov.au/tfn</b></p>

<p><strong>OTHER FORMS YOU MAY ALSO NEED TO COMPLETE</strong></p>
<p>In addition to this TFN declaration, you may also need to complete and give your payer the following forms which you can download from our website:</p>

<p>Withholding declaration (NAT 3093) if you want to</p>
<ul>
    <li>claim entitlement to the seniors and pensioners tax offset (question 9) or other tax offsets (question 10)</li>
    <li>change information you previously provided in a TFN declaration.</li>
</ul>
<p>Medicare levy variation declaration (NAT 0929) if you qualify for a reduced rate of Medicare levy or are liable for the Medicare levy surcharge. You can vary the amount your payer withholds from your payments.</p>
<p>Standard choice form (NAT 13080) to choose a super fund for your employer to pay super contributions to. You can find information about your current super accounts and transfer any unnecessary super accounts through myGov after you have linked to the ATO. Temporary residents should visit Super information for temporary residents departing Australia for more information about super.</p>

<p>Other forms and publications are also available from our website at <a href="/about-ato/about-us/contact-us/order-publications/">Order ATO products online</a>, or by phoning <strong>1300 720 092</strong>.</p>
<p><strong>Internet</strong></p>
<ul>
    <li>General information about TFNs, tax and super in Australia, including how to deal with us online, is available on our <a href="/">website</a>.</li>
    <li>For information about applying for a TFN on the web, refer to <a href="/Individuals/Tax-file-number">Tax file number</a>.</li>
    <li>For information about your super, refer to <a href="/calculators-and-tools/check-your-super/">Check your super</a>.</li>
</ul>
<p><strong>Phone</strong></p>
<ul>
    <li>Payee – for more information, phone <strong>13 28 61</strong> between 8.00am and 6.00pm, Monday to Friday. If you want to vary your rate of withholding, phone <strong>1300 360 221</strong> between 8.00am and 6.00pm, Monday to Friday.</li>
    <li>Payer – for more information, phone <strong>13 28 66</strong> between 8.00am and 6.00pm, Monday to Friday.</li>
</ul>
<p>If you phone, we need to know we’re talking to the right person before we can discuss your tax affairs. We’ll ask for details only you, or someone you’ve authorised, would know. An authorised contact is someone you’ve previously told us can act on your behalf.</p>
<p>If you do not speak English well and need help from the ATO, phone the Translating and Interpreting Service on <strong>13 14 50</strong>.</p>
<p>If you are deaf, or have a hearing or speech impairment, phone the ATO through the National Relay Service (NRS) on the numbers listed below:</p>
<ul>
    <li>TTY users, phone <strong>13 36 77</strong> and ask for the ATO number you need (if you are calling from overseas, phone <strong>+61 7 3815 7799</strong>)</li>
    <li>Speak and Listen (speech-to-speech relay) users, phone <strong>1300 555 727</strong> and ask for the ATO number you need (if you are calling from overseas, phone <strong>+61 7 3815 8000</strong>)</li>
    <li>Internet relay users, connect to the NRS on <a href="http://relayservice.gov.au/" class="external">relayservice.gov.au<span>External Link</span></a> and ask for the ATO number you need.</li>
</ul>
<p>If you would like further information about the NRS, phone <strong>1800 555 660</strong> or email <a href="mailto:helpdesk@relayservice.com.au">helpdesk@relayservice.com.au</a></p>
<p><strong>Privacy of information</strong></p>
<p>Taxation law authorises the ATO to collect information and to disclose it to other government agencies. For information about your privacy, refer to <a href="/About-ATO/Access,-accountability-and-reporting/Your-privacy/">Your privacy</a>.</p>
