<p>
    For more information visit:<br />
    <a href="https://www.ato.gov.au/individuals" target="blank">https://www.ato.gov.au/individuals</a>
</p>
<p><strong>Question 11</strong></p>
<p><strong>(a) Do you have a Higher Education Loan Program (HELP) or Trade Support Loan (TSL) debt?</strong></p>
<p>Answer <strong>yes</strong> if you have a HELP or TSL debt.</p>
<p>Answer <strong>no</strong> if you do not have a HELP or TSL debt, or you have repaid your HELP or TSL debt in full.</p>
<p>You have a HELP or TSL debt if:</p>
<ul>
    <li>the Australian Government lends you money under HECS-HELP, FEE-HELP, OS-HELP, VET FEE-HELP, SA-HELP or TSL.</li>
    <li>you have a debt from the previous Higher Education Contribution Scheme (HECS).</li>
</ul>
<p><strong>(b) Do you have a Financial Supplement debt?</strong></p>
<p>Answer <strong>yes</strong> if you have a Financial Supplement debt.</p>
<p>Answer <strong>no</strong> if you do not have a Financial Supplement debt, or you have repaid your Financial Supplement debt in full.</p>
<p>For information about repaying your HELP, TSL or Financial Supplement debt, refer to <a href="">Study and training support loans</a>.</p>
<p><strong>Have you repaid your HELP, TSL or Financial Supplement debt?</strong></p>
<p>When you have repaid your HELP, TSL or Financial Supplement debt, you need to complete a new <a href="">Withholding declaration</a> (NAT 3093) to notify your payer of the change in your circumstances.</p>
<p><strong>Sign and date the declaration</strong></p>
<p>Make sure you have answered all the questions in section A, then sign and date the declaration. Give your completed declaration to your payer to complete section B.</p>
