<form name="onboardRejectForm">
    <header class="modal__header">
        <h2 class="modal__title">Re-send document</h2>
    </header>

    <div class="modal__content" ng-class="{'is--loading' : isLoading}">
        <div class="form__field">
            <textarea id="onboarding__ResendDocText"
                  name="onboarding__ResendDocText"
                  ng-model="doc.Comments"
                  placeholder="Provide a note for the candidate"
                  rows="10">
            </textarea>

            <form-errors input="onboardRejectForm.onboarding__ResendDocText">
                <form-error error-key="required"
                    error-text="'Note' are required."></form-error>
            </form-errors>
        </div>
        <footer class="modal__footer" style="text-align: right">
            <button type="button"
                class="button"
                ng-click="cancel()">CANCEL</button>
            <button type="button"
                class="button button--positive"
                ng-click="rejectInboundDocument(doc)"
                ng-disabled="!doc.Comments">SUBMIT</button>
        </footer>
    </div>
</form>

