<p>
    For more information visit:<br />
    <a href="https://www.ato.gov.au/individuals" target="blank">https://www.ato.gov.au/individuals</a>
</p>
<p><strong>Question 9</strong><br><strong>Do you want to claim the seniors and pensioners tax offset by reducing the amount withheld from payments made to you?</strong></p>
<p><strong>Claim benefits and tax offsets with only one payer</strong><br>You are not entitled to reduce your withholding amounts, or claim the seniors and pensioners tax offset (SAPTO), with more than one payer at the same time.</p>
<p>If you receive income from more than one source and need help with this question, phone <strong>1300 360 221</strong> between 8.00am and 6.00pm, Monday to Friday.</p>
<p><strong>How your income affects the amount of your tax offset</strong><br>You must meet the eligibility conditions to receive SAPTO. Your rebate income, not your taxable income, determines the amount of SAPTO you will receive, if any.</p>
<p>Answer <strong>yes</strong> if you are eligible and choose to claim SAPTO with this payer. To reduce the amount withheld from payments you receive during the year from this payer, you will also need to complete a <a href="">Withholding declaration</a> (NAT 3093).</p>
<p>Answer <strong>no</strong> if one of the following applies:</p>
<ul>
    <li>you are not eligible for SAPTO</li>
    <li>you are already claiming SAPTO from another payer</li>
    <li>you are eligible, but want to claim your entitlement to the tax offset as a lump sum in your end-of-year income tax assessment.</li>
</ul>
<p>For more information about your eligibility to claim the tax offset or rebate income, refer to <a href="">Offsets you can claim</a>.</p>
