<p>
    For more information visit:<br />
    <a href="https://www.ato.gov.au/individuals" target="blank">https://www.ato.gov.au/individuals</a>
</p>
<p><strong>Question 1</strong><br><strong>What is your tax file number (TFN)?</strong></p>
<p>This question asks you to quote your TFN. If you need to find your TFN, see 'How do you find your TFN?' below.</p>
<p>We and your payer are authorised by the <em>Taxation Administration Act 1953</em> to request your TFN. It’s not an offence not to quote your TFN. However, quoting your TFN reduces the risk of administrative errors and having extra tax withheld. Your payer is required to withhold the top rate of tax from all payments made to you if you do not provide your TFN or claim an exemption from quoting your TFN.</p>
<p><strong>How do you find your TFN?</strong></p>
<p>You can find your TFN on any of the following:</p>
<ul>
    <li>your income tax notice of assessment</li>
    <li>correspondence we send you</li>
    <li>a payment summary your payer issues to you.</li>
</ul>
<p>If you have a tax agent, they may also be able to tell you your TFN.</p>
<p>If you still can't find your TFN, you can:</p>
<ul>
    <li>phone us on <strong>13 28 61</strong> between 8.00am and 6.00pm, Monday to Friday</li>
    <li>visit your nearest shopfront (phone us on <strong>13 28 61</strong> to make an appointment).</li>
</ul>
<p>If you phone or visit us we need to know we are talking to the correct person before discussing your tax affairs. We will ask you for details only you, or your authorised representative would know.</p>
<p><strong>Do you need to apply for a TFN?</strong></p>
<p>If you don’t have a TFN and want to provide a TFN to your payer, you will need to apply for one.</p>
<p>For more information about applying for a TFN, refer to <a href="https://www.ato.gov.au/individuals" target="blank">Tax file number</a>.</p>
