<p>
    For more information visit:<br />
    <a href="https://www.ato.gov.au/individuals" target="blank">https://www.ato.gov.au/individuals</a>
</p>
<p><strong>Question 8</strong><br><strong>Do you want to claim the tax-free threshold from this payer?</strong></p>
<p>The tax-free threshold is the amount of income you can earn each financial year that is not taxed. By claiming the threshold, you reduce the amount of tax that is withheld from your pay during the year. It is available only to people who are Australian residents for tax purposes – that is, people who answered <strong>yes</strong> at <a href="#Question_7" class="bookmark">question 7</a>.</p>
<p>Answer <strong>yes</strong> if you want to claim the tax-free threshold, you are an Australian resident for tax purposes and <strong>one</strong> of the following applies:</p>
<ul>
    <li>you are not currently claiming the tax-free threshold from another payer</li>
    <li>you are currently claiming the tax-free threshold from another payer and your total income from all sources will be less than the tax-free threshold.</li>
</ul>
<p>Answer <strong>no</strong> if <strong>one</strong> of the following applies:</p>
<ul>
    <li>you answered <strong>no</strong> at <a href="">question 7</a></li>
    <li>you are currently claiming the tax-free threshold from another payer and your total income from all sources will be more than the tax-free threshold</li>
    <li>you do not want to claim the tax-free threshold.</li>
</ul>
<p>If you receive any taxable government payments or allowances, such as Newstart, Youth Allowance or Austudy, you are likely to be already claiming the tax-free threshold from that payment.</p>
<p>For more information about the current tax-free threshold, which payer you should claim it from or how to vary your withholding rate, refer to <a href="">What is the tax-free threshold?</a></p>
