<p>
    For more information visit:<br />
    <a href="https://www.ato.gov.au/individuals" target="blank">https://www.ato.gov.au/individuals</a>
</p>
<p><strong>Question 10</strong><br><strong>Do you want to claim a zone, overseas forces or invalid and invalid carer tax offset by reducing the amount withheld from payments made to you?</strong></p>
<p><strong>Claim tax offsets with only one payer</strong><br>You are not entitled to claim tax offsets with more than one payer at the same time.</p>
<p>You may be eligible for one or more of the following:</p>
<ul>
    <li>a zone tax offset if you live or work in certain remote or isolated areas of Australia</li>
    <li>an overseas forces tax offset if you serve overseas as a member of Australia’s Defence Force or a United Nations armed force</li>
    <li>an invalid and invalid carer tax offset.</li>
</ul>
<p>Answer <strong>yes</strong> to this question if you are eligible and choose to receive tax offsets by reducing the amount withheld from payments made to you from this payer. You also need to complete a <a href="">Withholding declaration</a> (NAT 3093).</p>
<p>Answer <strong>no</strong> to this question if you are not eligible for the tax offsets, choose to receive any of these tax offsets as an end-of-year lump sum through the tax system, or are already claiming the offset from another payer.</p>
<p><strong>Foreign resident</strong><br>If you are not an Australian resident for tax purposes, you are not entitled to claim an invalid and invalid carer tax offset. You may be entitled to claim the zone or overseas forces tax offset.</p>
<p>For more information about your entitlement, refer to <a href="">Offsets you can claim</a>.</p>
