<div class="select-wrapper">
    <select ng-model="selectModel"
            ng-options="template as template.Label for template in templates.data track by template.Value"
            ng-disabled="templates.loading"
            ng-change="updateModel(selectModel)">
        <option selected value="">Please select a Template</option>
    </select>
    <span class="select">{{ val}}</span>
    <span class="select" ng-if='selectModel.Label'>{{ selectModel.Label}}</span>
    <span class="select" ng-if='!selectModel.Label'>Please select a Template</span>
</div>