<div class="select-wrapper">
    <select ng-model="selectModel"
            ng-options="subClassification as subClassification.Label for subClassification in subClassifications.data track by subClassification.Value"
            ng-disabled="locations.loading || isDisabled"
            ng-change="updateModel(selectModel)">
        <option selected value="">Please select a Sub-Classification</option>
    </select>
    <span class="select">{{ val}}</span>
    <span class="select" ng-if='selectModel.Label'>{{ selectModel.Label}}</span>
    <span class="select" ng-if='!selectModel.Label'>Please select a Sub-Classification</span>
</div>