<div class="select-wrapper">
    <select ng-model="selectModel"
            ng-options="location as location.Label for location in locations.data track by location.Value"
            ng-disabled="locations.loading || isDisabled"
            ng-change="updateModel(selectModel)">
        <option selected value="">Please select a Location</option>
    </select>
    <span class="select">{{ val}}</span>
    <span class="select" ng-if='selectModel.Label'>{{ selectModel.Label}}</span>
    <span class="select" ng-if='!selectModel.Label'>Please select a Location</span>
</div>