<div class="select-wrapper">
    <select ng-model="selectModel"
            ng-options="area as area.Label for area in areas.data track by area.Value"
            ng-disabled="locations.loading || isDisabled"
            ng-change="updateModel(selectModel)">
        <option selected value="">Please select an Area</option>
    </select>
    <span class="select">{{ val}}</span>
    <span class="select" ng-if='selectModel.Label'>{{ selectModel.Label}}</span>
    <span class="select" ng-if='!selectModel.Label'>Please select an Area</span>
</div>