<div class="select-wrapper">
    <select ng-model="selectModel"
            ng-options="market as market.Label for market in markets.data track by market.Value"
            ng-disabled="markets.loading"
            ng-change="updateModel(selectModel)">
        <option selected value="">Please select a Market</option>
    </select>
    <span class="select">{{ val}}</span>
    <span class="select" ng-if='selectModel.Label'>{{ selectModel.Label}}</span>
    <span class="select" ng-if='!selectModel.Label'>Please select a Market</span>
</div>