// whiteWithBorder()
//
// White background with standard drop shadow
//
// Styleguide mixins.presentation.whitewithborder

whiteWithBorder()
    background-color: white;
    border: solid 1px default-border-color;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.03)

border-block()
    content: '';
    display: block;
    width: 20px;
    height: 1px;
    position: absolute;
