<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.json" />
            </files>
        </defaultDocument>
        <!-- Rewrite to the local API -->
        <rewrite>
            <rules>
                <rule name="Roster widget" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*roster/shift/upcomingshifts*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/roster/shift/upcomingshifts/" />
                </rule>
                <rule name="Roster drawer" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*roster/shift/shiftadditionalinfo*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/roster/shift/shiftadditionalinfo/" />
                </rule>
                <rule name="Upcoming events" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*events/upcomingEventList*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/events/upcomingEventList/" />
                </rule>
                <rule name="Comments" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*feeds/*/comments*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/feeds/comments/" />
                </rule>
                <rule name="Attachments" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*feeds/2632733/attachments*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/feeds/attachments/index2.json" />
                </rule>
                <rule name="Attachments 2" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*feeds/*/attachments*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/feeds/attachments/" />
                </rule>
                <rule name="File storage" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*file-storage/*/download*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/file-storage/download/galaxy.jpg" />
                </rule>
                <rule name="Blog categories" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*blogcategories*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/blogcategories/" />
                </rule>
                <rule name="Blog post" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)blogs/([0-9]){4,}?$" /><!-- match *blogs/3332 -->
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/blogs/post.json" />
                </rule>
                <rule name="Blogs listing" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*blogs/?*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/blogs/" />
                </rule>  
                <rule name="Blog comments" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*blogs/*/comments*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/blogs/comments/" />
                </rule>
                <rule name="Blog likes" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*blogs/*/likes?*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/blogs/likes/" />
                </rule>
                <rule name="Blog views" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*blogs/*/views*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/blogs/views/" />
                </rule>
                <rule name="My team feed (groups page)" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*feeds/*/myteamfeed*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/feeds/myteamfeed/" />
                </rule>
                <rule name="Feed likes - get members who liked " patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*feeds/*/likes?*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/feeds/likes/" />
                </rule>
                <rule name="My subjects" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*/me/training-courses/*/training-subjects*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/members/me/training-courses/training-subjects/" />
                </rule>
                <rule name="Training subjects" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*training-courses/*/training-subjects*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/training-courses/training-subjects/" />
                </rule>
                <rule name="Training subjects EXT" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*training-subjects/EXT*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/training-subjects/ext.json" />
                </rule>
                <rule name="Training courses" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)training-courses/([0-9]){3,}?$" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/training-courses/course.json" />
                </rule>
                <rule name="Training subject" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="(.*)training-subjects/([0-9]){3,}?$" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/training-subjects/subject.json" />
                </rule>
                <rule name="Training course roles" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*training-courses/*/roles" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/training-courses/roles/" />                    
                </rule>
                <rule name="Training course roles 2" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*roles" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/training-courses/roles/all/" />
                </rule>
                <rule name="Profile basic information" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*profilerecord" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/profilemanagement/profilerecord" />
                </rule>
                <rule name="Profile contact information" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*membercontact" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/profilemanagement/membercontact" />
                </rule>
                <rule name="Profile emergency contact information" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*emergencycontact" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/profilemanagement/emergencycontact" />
                </rule>
                <rule name="Profile employment summary" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*employmentinfo*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/profilemanagement/employmentinfo/" />
                </rule>
                <rule name="Profile employment history" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*memberemploymenthistory*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/profilemanagement/memberemploymenthistory/" />
                </rule>
                <rule name="Profile workflows" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*workflows*" />
                    <action type="Rewrite" url="/interfacesource/test/mockData/api/profilemanagement/workflows/" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="X-Pagination" value="{&quot;TotalCount&quot;:6,&quot;TotalPages&quot;:3,&quot;PageSize&quot;:10,&quot;Page&quot;:1}" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
