<div class="cards {{modifier_class}}">    
    
    <article class="card">
        <div class="card__inner">
                        
            <card-date start-date="'2015-02-13T00:00:00'" end-date="'2015-03-14T00:00:00'"></card-date>
            
            <div class="card__content">
                
                <h2>Card</h2>
                
                <p>Lorem ipsum dolor sit amet, sapien consectetur adipiscing elit. Phasellus blandit libero ut auctor pulvinar.</p>
                
            </div>
            
            <footer class="card__footer">
                
                <p><a href="#">15 comments</a></p>
                
                <a href="#" class="card__arrow">→</a>
                
            </footer>
            
        </div>
    </article>
    
    <article class="card">
        <div class="card__inner">
            
            <a class="card__feature-image-container" href="#">
                
                <div class="card__feature-image-overflow-wrapper">
                    <img alt="test" class="card__feature-image" src="https://storage101.ord1.clouddrive.com/v1/MossoCloudFS_6df71ffc-f110-42bb-934a-c442e0f6884d/TheHubLibraryTest/cbac92c6-16c1-4773-a848-527eed5ba406?temp_url_sig=c7e239ae534f9258714f2bb4032be58c30a3b938&amp;temp_url_expires=1469508784&amp;filename=strange-awkward-stock-photo1_thumb.jpg">
                </div>
                
                <card-date start-date="'2015-02-13T00:00:00'" end-date="'2015-03-14T00:00:00'"></card-date>
                
                <avatar size="small" class="card__avatar" tooltip="Something about the avatar" tooltip-placement="right"></avatar>
                                                
            </a>
            
            <div class="card__content">
                
                <h2>Card</h2>
                
                <p>Lorem ipsum dolor sit amet, sapien consectetur adipiscing elit. Phasellus blandit libero ut auctor pulvinar.</p>
                
            </div>
            
            <footer class="card__footer">
                
                <p><a href="#">15 comments</a></p>
                
                <a href="#" class="card__arrow">→</a>
                
            </footer>
            
        </div>
    </article>
    
    <article class="card">
        <div class="card__inner">
            
            <card-date start-date="'2015-02-13T00:00:00'"></card-date>
            
            <avatar size="small" class="card__avatar" tooltip="Something about the avatar" tooltip-placement="right"></avatar>
        
            <div class="card__content">
                
                <h2><a href="#">Profits are in, see results here</a></h2>
                
                <p>You're all getting a new car, because we smashed it! http://i.imgur.com/8DsBYRb.jpg</p>
                            
            </div>

            <footer class="card__footer">
                
                <p><a href="">1 comments</a></p>

                <a href="" class="card__arrow">&rarr;</a>
                
            </footer>        
    
        </div>
    </article>
    
    <article class="card">
        <div class="card__inner">
                        
            <card-date start-date="'2015-02-13T00:00:00'" end-date="'2015-03-14T00:00:00'"></card-date>
            
            <div class="card__content">
                
                <h2>Card</h2>
                
                <p>Lorem ipsum dolor sit amet, sapien consectetur adipiscing elit. Phasellus blandit libero ut auctor pulvinar.</p>
                
            </div>
            
            <footer class="card__footer">
                
                <p><a href="#">15 comments</a></p>
                
                <a href="#" class="card__arrow">→</a>
                
            </footer>
            
        </div>
    </article>
    
    <article class="card">
        <div class="card__inner">
            
            <a class="card__feature-image-container" href="#">
                
                <div class="card__feature-image-overflow-wrapper">
                    <img alt="test" class="card__feature-image" src="https://storage101.ord1.clouddrive.com/v1/MossoCloudFS_6df71ffc-f110-42bb-934a-c442e0f6884d/TheHubLibraryTest/cbac92c6-16c1-4773-a848-527eed5ba406?temp_url_sig=c7e239ae534f9258714f2bb4032be58c30a3b938&amp;temp_url_expires=1469508784&amp;filename=strange-awkward-stock-photo1_thumb.jpg">
                </div>
                
                <card-date start-date="'2015-02-13T00:00:00'" end-date="'2015-03-14T00:00:00'"></card-date>
                
                <avatar size="small" class="card__avatar" tooltip="Something about the avatar" tooltip-placement="right"></avatar>
                                                
            </a>
            
            <div class="card__content">
                
                <h2>Card</h2>
                
                <p>Lorem ipsum dolor sit amet, sapien consectetur adipiscing elit. Phasellus blandit libero ut auctor pulvinar.</p>
                
            </div>
            
            <footer class="card__footer">
                
                <p><a href="#">15 comments</a></p>
                
                <a href="#" class="card__arrow">→</a>
                
            </footer>
            
        </div>
    </article>
    
</div>
