

// Site Footer
// ------------------------------------------------

.ui 

    .footer {
        position: relative;
        clearfix();
        margin: 0 0 (gutter/2) 0;

        .footer__wrapper {
            wrapper();
        }

        p {
            color: rgba(0,0,0,0.1);
            text-align: center;
        }

    }

