document-view-dimming = 0.8

.ui
    .fullscreen-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 500;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        transition: opacity 0.5s, visibility 0s 0.5s;
        -webkit-transition: opacity 0.5s, visibility 0s 0.5s;

        &.open {
            opacity: 1;
            visibility: visible;
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }

        .fullscreen-content-container {
            background-color: #F5F6F6;
            position: relative;
            overflow: scroll;
            height: 100%;

            @media minTablet {
                padding: 0 10%;
            }
            @media minDesktop {
                padding: 0 15%;
            }

            .fullscreen-content {
                min-height: 100%;
                padding: 10px;
                background-color: #fff;
            }
            span.close-fullscreen {
                position: fixed;
                top: 20px;
                right: 37px
                cursor: pointer;
            }

            &.document-viewer {
                background-color: rgba(1,1,1, document-view-dimming);
                padding: 0;

                .close-fullscreen {
                    color: white;
                    right: 17px;

                    @media maxSmallTablet {
                        right: 22px;
                    }

                    @media minTablet {
                        font-size: 26px;
                    }
                }

                .fullscreen-content {
                    padding: 20px 5%;
                    background: none;

                    @media maxSmallTablet {
                        padding: 15px 36px 0px 5px;
                    }
                }
            }
        }
    }

    .fullscreen-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        z-index: 600;
        background-color: #fff;
        border-top: 1px solid #F5F6F6;
        display: flex;
        justify-content: center;
        align-items: center;
        transition(.5s all cubic-bezier(0, 1, 0.5, 1));

        &.outside-screen {
            bottom: -50px;
        }
        
        @media minSmallTablet {
            height: 10%;
        }
        @media minTablet {
            height: 50px;
        }

        &.document-viewer {
           background-color: rgba(1,1,1, document-view-dimming);
           border: none;
           color: white;
        }

        .total-pages {
            margin: 0 15px;
        }
    }